.tak-double-bounce1 {
  background: var(--tak-loader-double-bounce1);
}
.tak-double-bounce2 {
  background: var(--tak-loader-double-bounce2);
}
.tak-double-bounce1,
.tak-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: takSkBounce 2s infinite ease-in-out;
}
.tak-double-bounce2 {
  animation-delay: -1s;
}
.tak-app-loader,
.tak-view-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.tak-loader-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto;
}
.tak-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.tak-view-loader {
  display: block;
  background: var(--tak-loader-overlay-backdrop-background-color);
  z-index: 998;
  max-height: calc(100vh);
  margin: auto;
  display: flex;
}
.tak-view-loader * {
  margin: auto;
}
@-webkit-keyframes takSkBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes takSkBounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
