@use '@angular/material' as mat;

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html {
  --tak-primary-100: rgb(120, 203, 211);
  --tak-primary-500: rgb(10, 161, 174);
  --tak-primary-700: rgb(8, 119, 129);
  --tak-primary-constrant-100: rgb(140, 238, 247);
  --tak-primary-constrant-500: rgb(14, 187, 202);
  --tak-primary-constrant-700: rgb(15, 163, 177);
  --tak-primary-opacity-100: rgb(120, 203, 211, 0.3);
  --tak-primary-opacity-500: rgb(10, 161, 174, 0.3);
  --tak-primary-opacity-700: rgb(8, 119, 129, 0.3);
  --tak-accent-100: rgb(30, 233, 148);
  --tak-accent-500: rgb(24, 182, 116);
  --tak-accent-700: rgb(29, 139, 110);
  --tak-accent-opacity-100: rgb(30, 233, 148, 0.3);
  --tak-accent-opacity-500: rgb(24, 182, 116, 0.3);
  --tak-accent-opacity-700: rgb(29, 139, 110, 0.3);
  --tak-accent-constrant-100: rgb(177, 243, 214);
  --tak-accent-constrant-500: rgb(70, 221, 158);
  --tak-accent-constrant-700: rgb(65, 185, 135);
  --tak-warn-100: rgb(255, 55, 55);
  --tak-warn-500: rgb(255, 0, 0);
  --tak-warn-700: rgb(168, 0, 0);
  --tak-warn-opacity-100: rgb(255, 55, 55, 0.3);
  --tak-warn-opacity-500: rgb(255, 0, 0, 0.3);
  --tak-warn-opacity-700: rgb(168, 0, 0, 0.3);
  --tak-warn-constrant-100: rgb(254, 191, 191);
  --tak-warn-constrant-500: rgb(255, 128, 128);
  --tak-warn-constrant-700: rgb(191, 96, 96);
}

// mat.$red-palette
// mat.$green-palette
// mat.$blue-palette
// mat.$yellow-palette
// mat.$cyan-palette
// mat.$magenta-palette
// mat.$orange-palette
// mat.$chartreuse-palette
// mat.$spring-green-palette
// mat.$azure-palette
// mat.$violet-palette
// mat.$rose-palette

$matTheme: mat.$cyan-palette;

$theme: mat.define-theme(
  (
    color: (
      primary: $matTheme,
      tertiary: mat.$green-palette,
    ),
  )
);

html {
  @include mat.theme(
    (
      color: $matTheme,
      density: 0,
    )
  );
}
/* 
[color='primary'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'primary');
}

[color='accent'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'tertiary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'tertiary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'tertiary');
}

[color='warn'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'error');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'error');
  @include mat.fab-theme($theme: $theme, $color-variant: 'error');
} */
