$TOGGLE_SBAR_BTN_CONTINR_WIDTH: 40px;

.tak {
  &__header {
    width: 100%;
    background-color: var(--tak-header-background-color);
    height: var(--tak-header-height);
    color: var(--tak-layout-dark-color);
    display: flex;
    &__toggle-sbar-btn {
      &__container {
        width: $TOGGLE_SBAR_BTN_CONTINR_WIDTH;
        height: var(--tak-header-height);
        align-items: center;
        display: flex;
        & > button {
          background-color: transparent;
          border: 1px solid transparent;
          color: inherit;
        }
      }
      @media (min-width: $MOBILE_RESOLUTION) {
        &__container {
          display: block;
          align-items: center;
          display: flex;
        }
      }
    }
    &__custom {
      &__container {
        width: 100%;
        align-items: center;
        display: flex;
      }
      @media (max-width: calc($MOBILE_RESOLUTION - 1px)) {
        &__container {
          width: calc(100% - $TOGGLE_SBAR_BTN_CONTINR_WIDTH);
        }
      }
    }
  }
}
[tak-custom-header] {
  width: 100%;
}
