.tak-progress-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 16px solid var(--tak-progress-circle-border-color);
  border-top: 16px solid var(--tak-primary-500);
  &[color='accent'] {
    border-top: 16px solid var(--tak-accent-500);
  }
  &[color='warn'] {
    border-top: 16px solid var(--tak-warn-500);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
