@import 'fields';
@import 'divider';
@import 'tabs';

@media only screen and (min-width: calc($MD_RESOLUTION - 1px)) {
  .tak-dialog-container,
  .tak-select-panel,
  .tak-autocomplete-panel,
  .tak-box-form__scroll,
  textarea.tak-input-element {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }
  }
  .tak-select-panel {
    &::-webkit-scrollbar {
      width: 6px !important;
    }
  }
}
