@mixin darkThemeTakMaterial() {
  --tak-border-color-default: #5f5f5f;
  --tak-box-shadow-z4-default: none;
  --tak-box-shadow-default: none;
  --tak-raised-button-box-shadow: none;
  --tak-dark-color-50: rgba(255, 255, 255, 0.6);
  --tak-dark-color-100: rgba(255, 255, 255, 0.12);
  --tak-dark-color-200: rgba(255, 255, 255, 0.26);
  --tak-dark-color-250: rgba(255, 255, 255, 0.42);
  --tak-dark-color-300: rgba(255, 255, 255, 0.54);
  --tak-dark-color-500: rgba(255, 255, 255, 0.87);
  --tak-dark-color-700: rgb(255, 255, 255);
  --tak-dark-background-color-10: rgba(255, 255, 255, 0.04);
  --tak-dark-background-color-50: rgba(255, 255, 255, 0.6);
  --tak-dark-background-color-100: rgba(255, 255, 255, 0.12);
  --tak-dark-background-color-200: rgba(255, 255, 255, 0.26);
  --tak-dark-background-color-250: rgba(255, 255, 255, 0.42);
  --tak-dark-background-color-300: rgba(255, 255, 255, 0.54);
  --tak-dark-background-color-500: rgba(255, 255, 255, 0.87);
  --tak-dark-background-color-700: rgb(255, 255, 255);
  --tak-light-color-700: #000;
  --tak-light-background-color-50: rgba(0, 0, 0, 0.6);
  --tak-light-background-color-100: rgb(13, 17, 23);
  --tak-scrollbar-background-color-500: #333947af;
  --tak-scrollbar-thumb-background-color-500: #7d7f84;
  --tak-overlay-backdrop-background-color: rgba(73, 73, 73, 0.32);
  --tak-slide-toggle-bar-background-color: rgba(255, 255, 255, 0.38);
  --tak-dialog-container-box-shadow: var(--tak-box-shadow-default);
  --tak-dialog-container-background-color: #fff;
  --tak-dialog-container-border-color: var(--tak-border-color-default);
  --tak-snackbar-box-shadow: var(--tak-box-shadow-default);
  --tak-snackbar-border-color: var(--tak-border-color-default);
  --tak-select-panel-box-shadow: var(--tak-box-shadow-default);
  --tak-select-panel-border-color: var(--tak-border-color-default);
  --tak-drawer-container-background-color: rgb(37, 39, 53);
  --tak-drawer-container-color: #fff;
  --tak-drawer-box-shadow: none;
  --tak-drawer-border: 1px solid var(--tak-dark-color-100);
  --tak-divider-border-color: var(--tak-dark-color-100);
  --tak-button-box-shadow: none;
  --tak-button-border: 1px solid var(--tak-dark-color-100);
  --tak-button-sheet-container-box-shadow: none;
  --tak-button-sheet-container-border: 1px solid var(--tak-dark-color-100);
  --tak-card-box-shadow: none;
  --tak-card-border: 1px solid var(--tak-dark-color-100);
  --tak-expansion-panel-box-shadow: none;
  --tak-expansion-panel-border: 1px solid var(--tak-dark-color-100);
  --tak-expansion-panel-hover-background-color: var(--tak-dark-color-100);
  --tak-menu-box-shadow: none;
  --tak-menu-border: 1px solid var(--tak-dark-color-100);
  --tak-step-header-hover-background-color: var(--tak-dark-color-100);
  --tak-table-border: 1px solid var(--tak-dark-color-100);
  --tak-toolbar-border: 1px solid var(--tak-dark-color-100);
  --tak-progress-circle-border-color: rgb(13, 17, 23);
}

.tak-layout.tak-dark-theme {
  @include darkThemeTakMaterial();
}
