:root {
  --tak-box-shadow-default: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --tak-box-shadow-z4-default: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --tak-border-color-default: none;
  --tak-raised-button-box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 0 0 rgba(0, 0, 0, 0.12);
  --tak-primary-100: rgb(120, 203, 211);
  --tak-primary-500: rgb(10, 161, 174);
  --tak-primary-700: rgb(8, 119, 129);
  --tak-primary-constrant-100: rgb(140, 238, 247);
  --tak-primary-constrant-500: rgb(14, 187, 202);
  --tak-primary-constrant-700: rgb(15, 163, 177);
  --tak-primary-opacity-100: rgb(120, 203, 211, 0.3);
  --tak-primary-opacity-500: rgb(10, 161, 174, 0.3);
  --tak-primary-opacity-700: rgb(8, 119, 129, 0.3);
  --tak-accent-100: rgb(30, 233, 148);
  --tak-accent-500: rgb(24, 182, 116);
  --tak-accent-700: rgb(29, 139, 110);
  --tak-accent-opacity-100: rgb(30, 233, 148, 0.3);
  --tak-accent-opacity-500: rgb(24, 182, 116, 0.3);
  --tak-accent-opacity-700: rgb(29, 139, 110, 0.3);
  --tak-accent-constrant-100: rgb(177, 243, 214);
  --tak-accent-constrant-500: rgb(70, 221, 158);
  --tak-accent-constrant-700: rgb(65, 185, 135);
  --tak-warn-100: rgb(255, 55, 55);
  --tak-warn-500: rgb(255, 0, 0);
  --tak-warn-700: rgb(168, 0, 0);
  --tak-warn-opacity-100: rgb(255, 55, 55, 0.3);
  --tak-warn-opacity-500: rgb(255, 0, 0, 0.3);
  --tak-warn-opacity-700: rgb(168, 0, 0, 0.3);
  --tak-warn-constrant-100: rgb(254, 191, 191);
  --tak-warn-constrant-500: rgb(255, 128, 128);
  --tak-warn-constrant-700: rgb(191, 96, 96);
  --tak-dark-color-50: rgba(0, 0, 0, 0.6);
  --tak-dark-color-100: rgba(0, 0, 0, 0.12);
  --tak-dark-color-200: rgba(0, 0, 0, 0.26);
  --tak-dark-color-250: rgba(0, 0, 0, 0.42);
  --tak-dark-color-300: rgba(0, 0, 0, 0.54);
  --tak-dark-color-500: rgba(0, 0, 0, 0.87);
  --tak-dark-color-700: rgb(0, 0, 0);
  --tak-dark-background-color-10: rgba(0, 0, 0, 0.04);
  --tak-dark-background-color-50: rgba(0, 0, 0, 0.6);
  --tak-dark-background-color-100: rgba(0, 0, 0, 0.12);
  --tak-dark-background-color-200: rgba(0, 0, 0, 0.26);
  --tak-dark-background-color-250: rgba(0, 0, 0, 0.42);
  --tak-dark-background-color-300: rgba(0, 0, 0, 0.54);
  --tak-dark-background-color-500: rgba(0, 0, 0, 0.87);
  --tak-dark-background-color-700: rgb(0, 0, 0);
  --tak-light-color-700: #fff;
  --tak-light-background-color-50: rgba(255, 255, 255, 0.6);
  --tak-light-background-color-100: #fff;
  --tak-light-background-color-150: #f0f0f0;
  --tak-light-background-color-200: #eee;
  --tak-light-background-color-300: #e0e0e0;
  --tak-light-background-color-700: #bdbdbd;
  --tak-scrollbar-thumb-hover-color-500: rgba(192, 192, 192, 0.562);
  --tak-scrollbar-background-color-500: #f1f4f6;
  --tak-scrollbar-thumb-background-color-500: #d6d7d8;
  --tak-overlay-backdrop-background-color: rgba(0, 0, 0, 0.32);
  --tak-slide-toggle-thumb-background-color: #fff;
  --tak-slide-toggle-bar-background-color: rgba(0, 0, 0, 0.38);
  --tak-dialog-container-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px var(--tak-dark-background-color-100);
  --tak-dialog-container-background-color: #fff;
  --tak-dialog-container-border-color: transparent;
  --tak-snackbar-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px var(--tak-dark-background-color-100);
  --tak-snackbar-border-color: transparent;
  --tak-snackbar-color: #fff;
  --tak-snackbar-action-color: var(--tak-accent-500);
  --tak-snackbar-background-color: #323232;
  --tak-snackbar-success-color: #000;
  --tak-snackbar-success-action-color: var(--tak-warn-500);
  --tak-snackbar-success-background-color: var(--tak-accent-500);
  --tak-snackbar-danger-color: #fff;
  --tak-snackbar-danger-action-color: var(--tak-accent-500);
  --tak-snackbar-danger-background-color: var(--tak-warn-500);
  --tak-select-panel-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px var(--tak-dark-background-color-100);
  --tak-select-panel-border-color: transparent;
  --tak-header-table-background-color: rgba(25, 42, 86, 1);
  --tak-drawer-container-background-color: #fafafa;
  --tak-drawer-container-color: rgba(0, 0, 0, 0.87);
  --tak-drawer-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px var(--tak-dark-background-color-100);
  --tak-drawer-border: none;
  --tak-divider-border-color: var(--tak-dark-background-color-100);
  --tak-button-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px var(--tak-dark-color-100);
  --tak-button-border: none;
  --tak-button-sheet-container-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px var(--tak-dark-color-100);
  --tak-button-sheet-container-border: none;
  --tak-card-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px var(--tak-dark-color-100);
  --tak-card-border: none;
  --tak-expansion-panel-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px var(--tak-dark-color-100);
  --tak-expansion-panel-border: none;
  --tak-expansion-panel-hover-background-color: var(--tak-dark-background-color-100);
  --tak-menu-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px var(--tak-dark-color-100);
  --tak-menu-border: none;
  --tak-step-header-hover-background-color: var(--tak-dark-background-color-100);
  --tak-tooltip-background-color: rgba(97, 97, 97, 0.9);
}
