@use 'sass:map';
@use 'sass:meta';
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/typography/typography-utils';

@mixin _inner-content-theme($palette) {
  .tak-slider-track-fill,
  .tak-slider-thumb,
  .tak-slider-thumb-label {
    background-color: theming.get-color-from-palette($palette);
  }

  .tak-slider-thumb-label-text {
    color: theming.get-color-from-palette($palette, default-contrast);
  }

  .tak-slider-focus-ring {
    $opacity: 0.2;
    $color: theming.get-color-from-palette($palette, default, $opacity);
    background-color: $color;

    // `tak-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($color) != color) {
      opacity: $opacity;
    }
  }
}

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  $tak-slider-off-color: theming.get-color-from-palette($foreground, slider-off);
  $tak-slider-off-focused-color: theming.get-color-from-palette($foreground, slider-off-active);
  $tak-slider-disabled-color: theming.get-color-from-palette($foreground, slider-off);
  $tak-slider-labeled-min-value-thumb-color: theming.get-color-from-palette(
    $foreground,
    slider-min
  );
  $tak-slider-labeled-min-value-thumb-label-color: theming.get-color-from-palette(
    $foreground,
    slider-off
  );
  $tak-slider-tick-opacity: 0.7;
  $tak-slider-tick-color: theming.get-color-from-palette(
    $foreground,
    base,
    $tak-slider-tick-opacity
  );
  $tak-slider-tick-size: 2px;

  .tak-slider-track-background {
    background-color: $tak-slider-off-color;
  }

  .tak-slider {
    &.tak-primary {
      @include _inner-content-theme($primary);
    }

    &.tak-accent {
      @include _inner-content-theme($accent);
    }

    &.tak-warn {
      @include _inner-content-theme($warn);
    }
  }

  .tak-slider:hover,
  .tak-slider.cdk-focused {
    .tak-slider-track-background {
      background-color: $tak-slider-off-focused-color;
    }
  }

  .tak-slider.tak-slider-disabled {
    .tak-slider-track-background,
    .tak-slider-track-fill,
    .tak-slider-thumb {
      background-color: $tak-slider-disabled-color;
    }

    &:hover {
      .tak-slider-track-background {
        background-color: $tak-slider-disabled-color;
      }
    }
  }

  .tak-slider.tak-slider-min-value {
    .tak-slider-focus-ring {
      $opacity: 0.12;
      $color: theming.get-color-from-palette($foreground, base, $opacity);
      background-color: $color;

      // `tak-color` uses `rgba` for the opacity which won't work with
      // CSS variables so we need to use `opacity` as a fallback.
      @if (meta.type-of($color) != color) {
        opacity: $opacity;
      }
    }

    &.tak-slider-thumb-label-showing {
      .tak-slider-thumb,
      .tak-slider-thumb-label {
        background-color: $tak-slider-labeled-min-value-thumb-color;
      }

      &.cdk-focused {
        .tak-slider-thumb,
        .tak-slider-thumb-label {
          background-color: $tak-slider-labeled-min-value-thumb-label-color;
        }
      }
    }

    &:not(.tak-slider-thumb-label-showing) {
      .tak-slider-thumb {
        border-color: $tak-slider-off-color;
        background-color: transparent;
      }

      &:hover,
      &.cdk-focused {
        .tak-slider-thumb {
          border-color: $tak-slider-off-focused-color;
        }

        &.tak-slider-disabled .tak-slider-thumb {
          border-color: $tak-slider-disabled-color;
        }
      }
    }
  }

  .tak-slider-has-ticks .tak-slider-wrapper::after {
    border-color: $tak-slider-tick-color;

    // `tak-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($tak-slider-tick-color) != color) {
      opacity: $tak-slider-tick-opacity;
    }
  }

  .tak-slider-horizontal .tak-slider-ticks {
    background-image: repeating-linear-gradient(
      to right,
      $tak-slider-tick-color,
      $tak-slider-tick-color $tak-slider-tick-size,
      transparent 0,
      transparent
    );
    // Firefox doesn't draw the gradient correctly with 'to right'
    // (see https://bugzilla.mozilla.org/show_bug.cgi?id=1314319).
    background-image: -moz-repeating-linear-gradient(
      0.0001deg,
      $tak-slider-tick-color,
      $tak-slider-tick-color $tak-slider-tick-size,
      transparent 0,
      transparent
    );

    // `tak-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($tak-slider-tick-color) != color) {
      opacity: $tak-slider-tick-opacity;
    }
  }

  .tak-slider-vertical .tak-slider-ticks {
    background-image: repeating-linear-gradient(
      to bottom,
      $tak-slider-tick-color,
      $tak-slider-tick-color $tak-slider-tick-size,
      transparent 0,
      transparent
    );

    // `tak-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($tak-slider-tick-color) != color) {
      opacity: $tak-slider-tick-opacity;
    }
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2014-config(
    theming.get-typography-config($config-or-theme)
  );
  .tak-slider-thumb-label-text {
    font: {
      family: typography-utils.font-family($config);
      size: typography-utils.font-size($config, caption);
      weight: typography-utils.font-weight($config, body-2);
    }
  }
}

@mixin _density($config-or-theme) {
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'tak-slider') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
