<div class="tak__layout__container {{ isSidebarCompact ? 'compact' : 'full' }}">
  <tak-sidebar
    [config]="config"
    [isCompact]="isSidebarCompact"
    [isMd]="isMd"
    [isToggleShow]="config.isDinamicSidebar"
    (mouseenter)="config.isDinamicSidebar ? sidebarMouseEnter() : ''"
    (mouseleave)="config.isDinamicSidebar ? sidebarMouseLeave() : ''"
    (blockSidebar)="onBlockSidebar($event)"
    (toggleSidebar)="toggleSidebar($event)"
    (onLogout)="onLogout.emit()"
    (onSetDarkMode)="onSetDarkMode.emit()"
  />
  <div class="tak__container">
    <div class="tak__header-container">
      <tak-header
        (toggleSidebar)="toggleSidebar($event)"
        [mdWidth]="config.mdWidth"
        [isActionButton]="config.isDinamicSidebar"
      >
        <ng-content tak-custom-header select="[tak-custom-header]"></ng-content>
      </tak-header>
    </div>
    <div class="tak__scroll" #scrollLayout>
      <div class="tak__content">
        <!-- View Loader (El preloading lo hace innecesario) -->
        @if (isModuleLoading) {
          <div class="tak-view-loader remove-view-loader-on-preloading" style="position: fixed">
            <div class="tak-spinner">
              <div class="tak-double-bounce1"></div>
              <div class="tak-double-bounce2"></div>
            </div>
          </div>
        }
        <div class="tak__outlet">
          <ng-content />
          <div class="footer-on-mobile"></div>
        </div>
      </div>
    </div>
  </div>
</div>
