<mat-card [class.actions-hidden]="!showActionButtons">
  <form [formGroup]="formGroup" #ngForm="ngForm">
    @if (hasBackButton || takTitle || takSubtitle) {
    <section class="tak-box-form__branding">
      @if (hasBackButton) {
      <div style="margin-right: 5px; float: left">
        <button mat-icon-button type="button" (click)="onBack.emit()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      }
      <span class="tak-box-form__branding__title">{{ takTitle }}</span>
      @if (takSubtitle) {
      <span class="tak-box-form__branding__subtitle">{{ takSubtitle }}</span>
      }
    </section>
    } @if (hasBackButton || takTitle || takSubtitle) {
    <mat-divider></mat-divider>
    }
    <ng-content select="[tak-custom-branding]"></ng-content>
    @if (!takTitle && !takSubtitle && !hasBackButton && hasBranding) {
    <mat-divider></mat-divider>
    }
    <div class="tak-box-form__scroll" attr.style="max-height: calc(100vh - {{ exedentInPx }}px)">
      <div class="tak-box-form__content" #content>
        <ng-content />
      </div>
    </div>
    <mat-divider [style.margin-bottom.px]="!isLoading ? 4 : 0"></mat-divider>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </form>
  @if (showActionButtons) {
  <mat-card-actions>
    @if (hasResetButton) {
    <button mat-button type="button" color="warn" class="action-button" (click)="clickOnReset()">
      {{ orResetButton }}
    </button>
    }
    <button
      mat-button
      type="button"
      color="accent"
      class="action-button"
      [disabled]="formGroup.invalid || isLoading"
      (click)="formGroup ? ngSubmit.emit(formGroup.value) : ngSubmit.emit()"
    >
      {{ orSubmitButton }}
    </button>
  </mat-card-actions>
  }
</mat-card>
