html.dark-theme {
  --mat-ripple-color: rgba(255, 255, 255, 0.1);
  --mat-option-label-text-color: rgba(255, 255, 255, 0.87);
  --mat-option-hover-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-option-focus-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-option-selected-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-optgroup-label-text-color: rgba(255, 255, 255, 0.87);
  --mat-full-pseudo-checkbox-selected-checkmark-color: rgb(250, 250, 250);
  --mat-full-pseudo-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
  --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: rgb(250, 250, 250);
  --mat-full-pseudo-checkbox-disabled-unselected-icon-color: rgb(176, 176, 176);
  --mat-full-pseudo-checkbox-disabled-selected-icon-color: rgb(176, 176, 176);
  --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: rgb(176, 176, 176);
  --mat-app-background-color: rgb(250, 250, 250);
  --mat-app-text-color: rgba(255, 255, 255, 0.87);
  --mdc-elevated-card-container-color: rgb(0, 0, 0);
  --mdc-elevated-card-container-elevation: 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
    0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 255, 255, 0.12);
  --mdc-outlined-card-container-color: rgb(0, 0, 0);
  --mdc-outlined-card-outline-color: rgba(255, 255, 255, 0.12);
  --mdc-outlined-card-container-elevation: 0px 0px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 0px 0px rgba(255, 255, 255, 0.14), 0px 0px 0px 0px rgba(255, 255, 255, 0.12);
  --mat-card-subtitle-text-color: rgba(255, 255, 255, 0.54);
  --mdc-plain-tooltip-container-color: rgb(97, 97, 97);
  --mdc-plain-tooltip-supporting-text-color: rgb(0, 0, 0);
  --mdc-filled-text-field-disabled-container-color: rgb(250, 250, 250);
  --mdc-filled-text-field-label-text-color: rgba(255, 255, 255, 0.6);
  --mdc-filled-text-field-hover-label-text-color: rgba(255, 255, 255, 0.6);
  --mdc-filled-text-field-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mdc-filled-text-field-input-text-color: rgba(255, 255, 255, 0.87);
  --mdc-filled-text-field-disabled-input-text-color: rgba(255, 255, 255, 0.38);
  --mdc-filled-text-field-input-text-placeholder-color: rgba(255, 255, 255, 0.6);
  --mdc-filled-text-field-active-indicator-color: rgba(255, 255, 255, 0.42);
  --mdc-filled-text-field-disabled-active-indicator-color: rgba(255, 255, 255, 0.06);
  --mdc-filled-text-field-hover-active-indicator-color: rgba(255, 255, 255, 0.87);
  --mdc-outlined-text-field-label-text-color: rgba(255, 255, 255, 0.6);
  --mdc-outlined-text-field-hover-label-text-color: rgba(255, 255, 255, 0.6);
  --mdc-outlined-text-field-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mdc-outlined-text-field-input-text-color: rgba(255, 255, 255, 0.87);
  --mdc-outlined-text-field-disabled-input-text-color: rgba(255, 255, 255, 0.38);
  --mdc-outlined-text-field-input-text-placeholder-color: rgba(255, 255, 255, 0.6);
  --mdc-outlined-text-field-outline-color: rgba(255, 255, 255, 0.38);
  --mdc-outlined-text-field-disabled-outline-color: rgba(255, 255, 255, 0.06);
  --mdc-outlined-text-field-hover-outline-color: rgba(255, 255, 255, 0.87);
  --mat-form-field-disabled-input-text-placeholder-color: rgba(255, 255, 255, 0.38);
  --mat-form-field-state-layer-color: rgba(255, 255, 255, 0.87);
  --mat-form-field-enabled-select-arrow-color: rgba(255, 255, 255, 0.54);
  --mat-form-field-disabled-select-arrow-color: rgba(255, 255, 255, 0.38);
  --mat-select-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mat-select-panel-background-color: rgb(0, 0, 0);
  --mat-select-enabled-trigger-text-color: rgba(255, 255, 255, 0.87);
  --mat-select-disabled-trigger-text-color: rgba(255, 255, 255, 0.38);
  --mat-select-placeholder-text-color: rgba(255, 255, 255, 0.6);
  --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.54);
  --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.38);
  --mat-select-invalid-arrow-color: rgba(255, 255, 255, 255.87);
  --mat-autocomplete-background-color: rgb(13, 17, 23);
  --mdc-dialog-container-elevation-shadow: 0px 11px 15px -7px rgba(255, 255, 255, 0.2),
    0px 24px 38px 3px rgba(255, 255, 255, 0.14), 0px 9px 46px 8px rgba(255, 255, 255, 0.12);
  --mdc-dialog-container-shadow-color: rgb(255, 255, 255);
  --mdc-dialog-container-color: rgb(0, 0, 0);
  --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
  --mdc-switch-disabled-selected-icon-color: rgb(0, 0, 0);
  --mdc-switch-disabled-selected-track-color: rgb(66, 66, 66);
  --mdc-switch-disabled-unselected-handle-color: rgb(66, 66, 66);
  --mdc-switch-disabled-unselected-icon-color: rgb(0, 0, 0);
  --mdc-switch-disabled-unselected-track-color: rgb(66, 66, 66);
  --mdc-switch-handle-surface-color: var(--mdc-theme-surface, rgb(0, 0, 0));
  --mdc-switch-handle-elevation-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
    0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 255, 255, 0.12);
  --mdc-switch-handle-shadow-color: rgb(255, 255, 255);
  --mdc-switch-disabled-handle-elevation-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 0px 0px rgba(255, 255, 255, 0.14), 0px 0px 0px 0px rgba(255, 255, 255, 0.12);
  --mdc-switch-selected-icon-color: rgb(0, 0, 0);
  --mdc-switch-unselected-focus-handle-color: rgb(33, 33, 33);
  --mdc-switch-unselected-focus-state-layer-color: rgb(66, 66, 66);
  --mdc-switch-unselected-focus-track-color: rgb(224, 224, 224);
  --mdc-switch-unselected-handle-color: rgb(97, 97, 97);
  --mdc-switch-unselected-hover-handle-color: rgb(33, 33, 33);
  --mdc-switch-unselected-hover-state-layer-color: rgb(66, 66, 66);
  --mdc-switch-unselected-hover-track-color: rgb(224, 224, 224);
  --mdc-switch-unselected-icon-color: rgb(0, 0, 0);
  --mdc-switch-unselected-pressed-handle-color: rgb(33, 33, 33);
  --mdc-switch-unselected-pressed-state-layer-color: rgb(66, 66, 66);
  --mdc-switch-unselected-pressed-track-color: rgb(224, 224, 224);
  --mdc-switch-unselected-track-color: rgb(224, 224, 224);
  --mdc-switch-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mdc-slider-with-tick-marks-active-container-color: rgb(0, 0, 0);
  --mdc-slider-disabled-active-track-color: rgb(255, 255, 255);
  --mdc-slider-disabled-handle-color: rgb(255, 255, 255);
  --mdc-slider-disabled-inactive-track-color: rgb(255, 255, 255);
  --mdc-slider-label-container-color: rgb(255, 255, 255);
  --mdc-slider-label-label-text-color: rgb(0, 0, 0);
  --mdc-slider-with-overlap-handle-outline-color: rgb(0, 0, 0);
  --mdc-slider-with-tick-marks-disabled-container-color: rgb(255, 255, 255);
  --mdc-slider-handle-elevation: 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
    0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 255, 255, 0.12);
  --mat-menu-item-label-text-color: rgba(255, 255, 255, 0.87);
  --mat-menu-item-icon-color: rgba(255, 255, 255, 0.87);
  --mat-menu-item-hover-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-menu-item-focus-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-menu-container-color: rgb(0, 0, 0);
  --mat-menu-divider-color: rgba(255, 255, 255, 0.12);
  --mdc-list-list-item-label-text-color: rgba(255, 255, 255, 0.87);
  --mdc-list-list-item-supporting-text-color: rgba(255, 255, 255, 0.54);
  --mdc-list-list-item-leading-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-list-list-item-trailing-supporting-text-color: rgba(255, 255, 255, 0.38);
  --mdc-list-list-item-trailing-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-list-list-item-selected-trailing-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-list-list-item-disabled-label-text-color: rgb(255, 255, 255);
  --mdc-list-list-item-disabled-leading-icon-color: rgb(255, 255, 255);
  --mdc-list-list-item-disabled-trailing-icon-color: rgb(255, 255, 255);
  --mdc-list-list-item-hover-label-text-color: rgba(255, 255, 255, 0.87);
  --mdc-list-list-item-hover-leading-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-list-list-item-hover-trailing-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-list-list-item-focus-label-text-color: rgba(255, 255, 255, 0.87);
  --mdc-list-list-item-hover-state-layer-color: rgb(255, 255, 255);
  --mdc-list-list-item-focus-state-layer-color: rgb(255, 255, 255);
  --mat-paginator-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-paginator-container-background-color: rgb(0, 0, 0);
  --mat-paginator-enabled-icon-color: rgba(255, 255, 255, 0.54);
  --mat-paginator-disabled-icon-color: rgba(255, 255, 255, 0.12);
  --mdc-checkbox-disabled-selected-checkmark-color: rgb(0, 0, 0);
  --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
  --mdc-checkbox-selected-checkmark-color: rgb(0, 0, 0);
  --mdc-checkbox-unselected-focus-icon-color: rgb(33, 33, 33);
  --mdc-checkbox-unselected-hover-icon-color: rgb(33, 33, 33);
  --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
  --mdc-checkbox-unselected-focus-state-layer-color: rgb(255, 255, 255);
  --mdc-checkbox-unselected-hover-state-layer-color: rgb(255, 255, 255);
  --mdc-checkbox-unselected-pressed-state-layer-color: rgb(255, 255, 255);
  --mat-checkbox-disabled-label-color: rgba(255, 255, 255, 0.38);
  --mdc-text-button-label-text-color: rgb(255, 255, 255);
  --mdc-text-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mat-text-button-state-layer-color: rgb(255, 255, 255);
  --mat-text-button-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-text-button-ripple-color: rgba(255, 255, 255, 0.1);
  --mdc-filled-button-container-color: rgb(0, 0, 0);
  --mdc-filled-button-label-text-color: rgb(255, 255, 255);
  --mdc-filled-button-disabled-container-color: rgba(255, 255, 255, 0.12);
  --mdc-filled-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mat-filled-button-state-layer-color: rgb(255, 255, 255);
  --mat-filled-button-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-filled-button-ripple-color: rgba(255, 255, 255, 0.1);
  --mdc-protected-button-container-color: rgb(0, 0, 0);
  --mdc-protected-button-label-text-color: rgb(255, 255, 255);
  --mdc-protected-button-disabled-container-color: rgba(255, 255, 255, 0.12);
  --mdc-protected-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mdc-protected-button-container-elevation-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.2),
    0px 2px 2px 0px rgba(255, 255, 255, 0.14), 0px 1px 5px 0px rgba(255, 255, 255, 0.12);
  --mdc-protected-button-disabled-container-elevation-shadow: 0px 0px 0px 0px
      rgba(255, 255, 255, 0.2),
    0px 0px 0px 0px rgba(255, 255, 255, 0.14), 0px 0px 0px 0px rgba(255, 255, 255, 0.12);
  --mdc-protected-button-focus-container-elevation-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2),
    0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgba(255, 255, 255, 0.12);
  --mdc-protected-button-hover-container-elevation-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2),
    0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgba(255, 255, 255, 0.12);
  --mdc-protected-button-pressed-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-protected-button-container-shadow-color: rgb(255, 255, 255);
  --mat-protected-button-state-layer-color: rgb(255, 255, 255);
  --mat-protected-button-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
  --mdc-outlined-button-disabled-outline-color: rgba(255, 255, 255, 0.12);
  --mdc-outlined-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
  --mdc-outlined-button-label-text-color: rgb(255, 255, 255);
  --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.12);
  --mat-outlined-button-state-layer-color: rgb(255, 255, 255);
  --mat-outlined-button-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-outlined-button-ripple-color: rgba(255, 255, 255, 0.1);
  --mdc-icon-button-disabled-icon-color: rgba(255, 255, 255, 0.38);
  --mat-icon-button-state-layer-color: rgb(255, 255, 255);
  --mat-icon-button-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-icon-button-ripple-color: rgba(255, 255, 255, 0.1);
  --mdc-fab-container-color: rgb(0, 0, 0);
  --mdc-fab-container-elevation-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.2),
    0px 6px 10px 0px rgba(255, 255, 255, 0.14), 0px 1px 18px 0px rgba(255, 255, 255, 0.12);
  --mdc-fab-focus-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-fab-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-fab-pressed-container-elevation-shadow: 0px 7px 8px -4px rgba(255, 255, 255, 0.2),
    0px 12px 17px 2px rgba(255, 255, 255, 0.14), 0px 5px 22px 4px rgba(255, 255, 255, 0.12);
  --mdc-fab-container-shadow-color: rgb(255, 255, 255);
  --mat-fab-foreground-color: rgb(255, 255, 255);
  --mat-fab-state-layer-color: rgb(255, 255, 255);
  --mat-fab-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-fab-ripple-color: rgba(255, 255, 255, 0.1);
  --mat-fab-disabled-state-container-color: rgba(255, 255, 255, 0.12);
  --mat-fab-disabled-state-foreground-color: rgba(255, 255, 255, 0.38);
  --mdc-fab-small-container-color: rgb(0, 0, 0);
  --mdc-fab-small-container-elevation-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.2),
    0px 6px 10px 0px rgba(255, 255, 255, 0.14), 0px 1px 18px 0px rgba(255, 255, 255, 0.12);
  --mdc-fab-small-focus-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-fab-small-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-fab-small-pressed-container-elevation-shadow: 0px 7px 8px -4px rgba(255, 255, 255, 0.2),
    0px 12px 17px 2px rgba(255, 255, 255, 0.14), 0px 5px 22px 4px rgba(255, 255, 255, 0.12);
  --mdc-fab-small-container-shadow-color: rgb(255, 255, 255);
  --mat-fab-small-foreground-color: rgb(255, 255, 255);
  --mat-fab-small-state-layer-color: rgb(255, 255, 255);
  --mat-fab-small-disabled-state-layer-color: rgb(255, 255, 255);
  --mat-fab-small-ripple-color: rgba(255, 255, 255, 0.1);
  --mat-fab-small-disabled-state-container-color: rgba(255, 255, 255, 0.12);
  --mat-fab-small-disabled-state-foreground-color: rgba(255, 255, 255, 0.38);
  --mdc-extended-fab-container-elevation-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.2),
    0px 6px 10px 0px rgba(255, 255, 255, 0.14), 0px 1px 18px 0px rgba(255, 255, 255, 0.12);
  --mdc-extended-fab-focus-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-extended-fab-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(255, 255, 255, 0.2),
    0px 8px 10px 1px rgba(255, 255, 255, 0.14), 0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  --mdc-extended-fab-pressed-container-elevation-shadow: 0px 7px 8px -4px rgba(255, 255, 255, 0.2),
    0px 12px 17px 2px rgba(255, 255, 255, 0.14), 0px 5px 22px 4px rgba(255, 255, 255, 0.12);
  --mdc-extended-fab-container-shadow-color: rgb(255, 255, 255);
  --mdc-snackbar-container-color: rgb(51, 51, 51);
  --mdc-snackbar-supporting-text-color: rgba(0, 0, 0, 0.87);
  --mat-table-background-color: rgb(0, 0, 0);
  --mat-table-header-headline-color: rgba(255, 255, 255, 0.87);
  --mat-table-row-item-label-text-color: rgba(255, 255, 255, 0.87);
  --mat-table-row-item-outline-color: rgba(255, 255, 255, 0.12);
  --mat-badge-text-color: rgb(0, 0, 0);
  --mat-badge-disabled-state-background-color: rgb(185, 185, 185);
  --mat-badge-disabled-state-text-color: rgba(255, 255, 255, 0.38);
  --mat-bottom-sheet-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-bottom-sheet-container-background-color: rgb(0, 0, 0);
  --mat-legacy-button-toggle-text-color: rgba(255, 255, 255, 0.38);
  --mat-legacy-button-toggle-state-layer-color: rgba(255, 255, 255, 0.12);
  --mat-legacy-button-toggle-selected-state-text-color: rgba(255, 255, 255, 0.54);
  --mat-legacy-button-toggle-selected-state-background-color: rgb(224, 224, 224);
  --mat-legacy-button-toggle-disabled-state-text-color: rgba(255, 255, 255, 0.26);
  --mat-legacy-button-toggle-disabled-state-background-color: rgb(238, 238, 238);
  --mat-legacy-button-toggle-disabled-selected-state-background-color: rgb(189, 189, 189);
  --mat-standard-button-toggle-text-color: rgba(255, 255, 255, 0.87);
  --mat-standard-button-toggle-background-color: rgb(0, 0, 0);
  --mat-standard-button-toggle-state-layer-color: rgb(255, 255, 255);
  --mat-standard-button-toggle-selected-state-background-color: rgb(224, 224, 224);
  --mat-standard-button-toggle-selected-state-text-color: rgba(255, 255, 255, 0.87);
  --mat-standard-button-toggle-disabled-state-text-color: rgba(255, 255, 255, 0.26);
  --mat-standard-button-toggle-disabled-state-background-color: rgb(0, 0, 0);
  --mat-standard-button-toggle-disabled-selected-state-text-color: rgba(255, 255, 255, 0.87);
  --mat-standard-button-toggle-disabled-selected-state-background-color: rgb(189, 189, 189);
  --mat-standard-button-toggle-divider-color: rgb(224, 224, 224);
  --mat-datepicker-calendar-container-elevation-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2),
    0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgba(255, 255, 255, 0.12);
  --mat-datepicker-calendar-container-touch-elevation-shadow: 0px 11px 15px -7px rgba(255, 255, 255, 0.2),
    0px 24px 38px 3px rgba(255, 255, 255, 0.14), 0px 9px 46px 8px rgba(255, 255, 255, 0.12);
  --mat-datepicker-calendar-date-selected-state-text-color: rgb(0, 0, 0);
  --mat-datepicker-calendar-date-today-selected-state-outline-color: rgb(0, 0, 0);
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: rgba(249, 171, 0, 0.2);
  --mat-datepicker-calendar-date-in-overlap-range-state-background-color: rgb(168, 218, 181);
  --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color: rgb(70, 163, 94);
  --mat-datepicker-toggle-icon-color: rgba(255, 255, 255, 0.54);
  --mat-datepicker-calendar-body-label-text-color: rgba(255, 255, 255, 0.54);
  --mat-datepicker-calendar-period-button-text-color: rgb(255, 255, 255);
  --mat-datepicker-calendar-period-button-icon-color: rgba(255, 255, 255, 0.54);
  --mat-datepicker-calendar-navigation-button-icon-color: rgba(255, 255, 255, 0.54);
  --mat-datepicker-calendar-header-divider-color: rgba(255, 255, 255, 0.12);
  --mat-datepicker-calendar-header-text-color: rgba(255, 255, 255, 0.54);
  --mat-datepicker-calendar-date-today-outline-color: rgba(255, 255, 255, 0.38);
  --mat-datepicker-calendar-date-today-disabled-state-outline-color: rgba(255, 255, 255, 0.18);
  --mat-datepicker-calendar-date-text-color: rgba(255, 255, 255, 0.87);
  --mat-datepicker-calendar-date-disabled-state-text-color: rgba(255, 255, 255, 0.38);
  --mat-datepicker-calendar-date-preview-state-outline-color: rgba(255, 255, 255, 0.24);
  --mat-datepicker-range-input-separator-color: rgba(255, 255, 255, 0.87);
  --mat-datepicker-range-input-disabled-state-separator-color: rgba(255, 255, 255, 0.38);
  --mat-datepicker-range-input-disabled-state-text-color: rgba(255, 255, 255, 0.38);
  --mat-datepicker-calendar-container-background-color: rgb(0, 0, 0);
  --mat-datepicker-calendar-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-divider-color: rgba(255, 255, 255, 0.12);
  --mat-expansion-container-background-color: rgb(0, 0, 0);
  --mat-expansion-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-expansion-actions-divider-color: rgba(255, 255, 255, 0.12);
  --mat-expansion-header-hover-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-expansion-header-focus-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-expansion-header-disabled-state-text-color: rgba(255, 255, 255, 0.26);
  --mat-expansion-header-text-color: rgba(255, 255, 255, 0.87);
  --mat-expansion-header-description-color: rgba(255, 255, 255, 0.54);
  --mat-expansion-header-indicator-color: rgba(255, 255, 255, 0.54);
  --mat-sidenav-container-elevation-shadow: 0px 8px 10px -5px rgba(255, 255, 255, 0.2),
    0px 16px 24px 2px rgba(255, 255, 255, 0.14), 0px 6px 30px 5px rgba(255, 255, 255, 0.12);
  --mat-sidenav-container-divider-color: rgba(255, 255, 255, 0.12);
  --mat-sidenav-container-background-color: rgb(0, 0, 0);
  --mat-sidenav-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-sidenav-content-background-color: rgb(250, 250, 250);
  --mat-sidenav-content-text-color: rgba(255, 255, 255, 0.87);
  --mat-sidenav-scrim-color: rgba(255, 255, 255, 0.6);
  --mat-stepper-header-icon-foreground-color: rgb(0, 0, 0);
  --mat-stepper-header-selected-state-icon-foreground-color: rgb(0, 0, 0);
  --mat-stepper-header-done-state-icon-foreground-color: rgb(0, 0, 0);
  --mat-stepper-header-edit-state-icon-foreground-color: rgb(0, 0, 0);
  --mat-stepper-container-color: rgb(0, 0, 0);
  --mat-stepper-line-color: rgba(255, 255, 255, 0.12);
  --mat-stepper-header-hover-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-stepper-header-focus-state-layer-color: rgba(255, 255, 255, 0.04);
  --mat-stepper-header-label-text-color: rgba(255, 255, 255, 0.54);
  --mat-stepper-header-optional-label-text-color: rgba(255, 255, 255, 0.54);
  --mat-stepper-header-selected-state-label-text-color: rgba(255, 255, 255, 0.87);
  --mat-stepper-header-icon-background-color: rgba(255, 255, 255, 0.54);
  --mat-sort-arrow-color: rgb(117, 117, 117);
  --mat-toolbar-container-background-color: rgb(245, 245, 245);
  --mat-toolbar-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-tree-container-background-color: rgb(0, 0, 0);
  --mat-tree-node-text-color: rgba(255, 255, 255, 0.87);
  .mat-primary {
    --mat-full-pseudo-checkbox-selected-checkmark-color: rgb(250, 250, 250);
    --mat-full-pseudo-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: rgb(250, 250, 250);
    --mat-full-pseudo-checkbox-disabled-unselected-icon-color: rgb(176, 176, 176);
    --mat-full-pseudo-checkbox-disabled-selected-icon-color: rgb(176, 176, 176);
    --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: rgb(176, 176, 176);
  }
  .mat-accent {
    --mdc-slider-with-tick-marks-active-container-color: rgb(0, 0, 0);
    --mat-option-label-text-color: rgba(255, 255, 255, 0.87);
    --mat-option-hover-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-option-focus-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-option-selected-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-full-pseudo-checkbox-selected-checkmark-color: rgb(250, 250, 250);
    --mat-full-pseudo-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: rgb(250, 250, 250);
    --mat-full-pseudo-checkbox-disabled-unselected-icon-color: rgb(176, 176, 176);
    --mat-full-pseudo-checkbox-disabled-selected-icon-color: rgb(176, 176, 176);
    --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: rgb(176, 176, 176);
  }
  .mat-warn {
    --mat-slider-hover-state-layer-color: rgba(255, 255, 255, 255.05);
    --mat-slider-focus-state-layer-color: rgba(255, 255, 255, 255.2);
    --mdc-slider-with-tick-marks-active-container-color: rgb(0, 0, 0);
    --mat-option-label-text-color: rgba(255, 255, 255, 0.87);
    --mat-option-hover-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-option-focus-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-option-selected-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-full-pseudo-checkbox-selected-checkmark-color: rgb(250, 250, 250);
    --mat-full-pseudo-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: rgb(250, 250, 250);
    --mat-full-pseudo-checkbox-disabled-unselected-icon-color: rgb(176, 176, 176);
    --mat-full-pseudo-checkbox-disabled-selected-icon-color: rgb(176, 176, 176);
    --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: rgb(176, 176, 176);
  }

  .mat-elevation-z0,
  .mat-mdc-elevation-specific.mat-elevation-z0 {
    box-shadow:
      0px 0px 0px 0px rgba(255, 255, 255, 0.2),
      0px 0px 0px 0px rgba(255, 255, 255, 0.14),
      0px 0px 0px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z1,
  .mat-mdc-elevation-specific.mat-elevation-z1 {
    box-shadow:
      0px 2px 1px -1px rgba(255, 255, 255, 0.2),
      0px 1px 1px 0px rgba(255, 255, 255, 0.14),
      0px 1px 3px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z2,
  .mat-mdc-elevation-specific.mat-elevation-z2 {
    box-shadow:
      0px 3px 1px -2px rgba(255, 255, 255, 0.2),
      0px 2px 2px 0px rgba(255, 255, 255, 0.14),
      0px 1px 5px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z3,
  .mat-mdc-elevation-specific.mat-elevation-z3 {
    box-shadow:
      0px 3px 3px -2px rgba(255, 255, 255, 0.2),
      0px 3px 4px 0px rgba(255, 255, 255, 0.14),
      0px 1px 8px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z4,
  .mat-mdc-elevation-specific.mat-elevation-z4 {
    box-shadow:
      0px 2px 4px -1px rgba(255, 255, 255, 0.2),
      0px 4px 5px 0px rgba(255, 255, 255, 0.14),
      0px 1px 10px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z5,
  .mat-mdc-elevation-specific.mat-elevation-z5 {
    box-shadow:
      0px 3px 5px -1px rgba(255, 255, 255, 0.2),
      0px 5px 8px 0px rgba(255, 255, 255, 0.14),
      0px 1px 14px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z6,
  .mat-mdc-elevation-specific.mat-elevation-z6 {
    box-shadow:
      0px 3px 5px -1px rgba(255, 255, 255, 0.2),
      0px 6px 10px 0px rgba(255, 255, 255, 0.14),
      0px 1px 18px 0px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z7,
  .mat-mdc-elevation-specific.mat-elevation-z7 {
    box-shadow:
      0px 4px 5px -2px rgba(255, 255, 255, 0.2),
      0px 7px 10px 1px rgba(255, 255, 255, 0.14),
      0px 2px 16px 1px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z8,
  .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow:
      0px 5px 5px -3px rgba(255, 255, 255, 0.2),
      0px 8px 10px 1px rgba(255, 255, 255, 0.14),
      0px 3px 14px 2px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z9,
  .mat-mdc-elevation-specific.mat-elevation-z9 {
    box-shadow:
      0px 5px 6px -3px rgba(255, 255, 255, 0.2),
      0px 9px 12px 1px rgba(255, 255, 255, 0.14),
      0px 3px 16px 2px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z10,
  .mat-mdc-elevation-specific.mat-elevation-z10 {
    box-shadow:
      0px 6px 6px -3px rgba(255, 255, 255, 0.2),
      0px 10px 14px 1px rgba(255, 255, 255, 0.14),
      0px 4px 18px 3px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z11,
  .mat-mdc-elevation-specific.mat-elevation-z11 {
    box-shadow:
      0px 6px 7px -4px rgba(255, 255, 255, 0.2),
      0px 11px 15px 1px rgba(255, 255, 255, 0.14),
      0px 4px 20px 3px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z12,
  .mat-mdc-elevation-specific.mat-elevation-z12 {
    box-shadow:
      0px 7px 8px -4px rgba(255, 255, 255, 0.2),
      0px 12px 17px 2px rgba(255, 255, 255, 0.14),
      0px 5px 22px 4px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z13,
  .mat-mdc-elevation-specific.mat-elevation-z13 {
    box-shadow:
      0px 7px 8px -4px rgba(255, 255, 255, 0.2),
      0px 13px 19px 2px rgba(255, 255, 255, 0.14),
      0px 5px 24px 4px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z14,
  .mat-mdc-elevation-specific.mat-elevation-z14 {
    box-shadow:
      0px 7px 9px -4px rgba(255, 255, 255, 0.2),
      0px 14px 21px 2px rgba(255, 255, 255, 0.14),
      0px 5px 26px 4px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z15,
  .mat-mdc-elevation-specific.mat-elevation-z15 {
    box-shadow:
      0px 8px 9px -5px rgba(255, 255, 255, 0.2),
      0px 15px 22px 2px rgba(255, 255, 255, 0.14),
      0px 6px 28px 5px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z16,
  .mat-mdc-elevation-specific.mat-elevation-z16 {
    box-shadow:
      0px 8px 10px -5px rgba(255, 255, 255, 0.2),
      0px 16px 24px 2px rgba(255, 255, 255, 0.14),
      0px 6px 30px 5px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z17,
  .mat-mdc-elevation-specific.mat-elevation-z17 {
    box-shadow:
      0px 8px 11px -5px rgba(255, 255, 255, 0.2),
      0px 17px 26px 2px rgba(255, 255, 255, 0.14),
      0px 6px 32px 5px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z18,
  .mat-mdc-elevation-specific.mat-elevation-z18 {
    box-shadow:
      0px 9px 11px -5px rgba(255, 255, 255, 0.2),
      0px 18px 28px 2px rgba(255, 255, 255, 0.14),
      0px 7px 34px 6px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z19,
  .mat-mdc-elevation-specific.mat-elevation-z19 {
    box-shadow:
      0px 9px 12px -6px rgba(255, 255, 255, 0.2),
      0px 19px 29px 2px rgba(255, 255, 255, 0.14),
      0px 7px 36px 6px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z20,
  .mat-mdc-elevation-specific.mat-elevation-z20 {
    box-shadow:
      0px 10px 13px -6px rgba(255, 255, 255, 0.2),
      0px 20px 31px 3px rgba(255, 255, 255, 0.14),
      0px 8px 38px 7px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z21,
  .mat-mdc-elevation-specific.mat-elevation-z21 {
    box-shadow:
      0px 10px 13px -6px rgba(255, 255, 255, 0.2),
      0px 21px 33px 3px rgba(255, 255, 255, 0.14),
      0px 8px 40px 7px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z22,
  .mat-mdc-elevation-specific.mat-elevation-z22 {
    box-shadow:
      0px 10px 14px -6px rgba(255, 255, 255, 0.2),
      0px 22px 35px 3px rgba(255, 255, 255, 0.14),
      0px 8px 42px 7px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z23,
  .mat-mdc-elevation-specific.mat-elevation-z23 {
    box-shadow:
      0px 11px 14px -7px rgba(255, 255, 255, 0.2),
      0px 23px 36px 3px rgba(255, 255, 255, 0.14),
      0px 9px 44px 8px rgba(255, 255, 255, 0.12);
  }
  .mat-elevation-z24,
  .mat-mdc-elevation-specific.mat-elevation-z24 {
    box-shadow:
      0px 11px 15px -7px rgba(255, 255, 255, 0.2),
      0px 24px 38px 3px rgba(255, 255, 255, 0.14),
      0px 9px 46px 8px rgba(255, 255, 255, 0.12);
  }
  .mat-theme-loaded-marker {
    display: none;
  }
  .mat-mdc-progress-bar.mat-warn {
    --mdc-linear-progress-track-color: rgba(255, 255, 255, 255.25);
  }
  .mat-mdc-form-field.mat-warn {
    --mdc-filled-text-field-focus-label-text-color: rgba(255, 255, 255, 255.87);
    --mdc-outlined-text-field-focus-label-text-color: rgba(255, 255, 255, 255.87);
    --mat-form-field-focus-select-arrow-color: rgba(255, 255, 255, 255.87);
  }
  .mat-mdc-form-field.mat-accent {
    --mat-select-panel-background-color: rgb(0, 0, 0);
    --mat-select-enabled-trigger-text-color: rgba(255, 255, 255, 0.87);
    --mat-select-disabled-trigger-text-color: rgba(255, 255, 255, 0.38);
    --mat-select-placeholder-text-color: rgba(255, 255, 255, 0.6);
    --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.54);
    --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.38);
    --mat-select-invalid-arrow-color: rgba(255, 255, 255, 255.87);
  }
  .mat-mdc-form-field.mat-warn {
    --mat-select-panel-background-color: rgb(0, 0, 0);
    --mat-select-enabled-trigger-text-color: rgba(255, 255, 255, 0.87);
    --mat-select-disabled-trigger-text-color: rgba(255, 255, 255, 0.38);
    --mat-select-placeholder-text-color: rgba(255, 255, 255, 0.6);
    --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.54);
    --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.38);
    --mat-select-focused-arrow-color: rgba(255, 255, 255, 255.87);
    --mat-select-invalid-arrow-color: rgba(255, 255, 255, 255.87);
  }
  .mat-mdc-standard-chip {
    --mdc-chip-disabled-label-text-color: rgb(33, 33, 33);
    --mdc-chip-elevated-container-color: rgb(224, 224, 224);
    --mdc-chip-elevated-selected-container-color: rgb(224, 224, 224);
    --mdc-chip-elevated-disabled-container-color: rgb(224, 224, 224);
    --mdc-chip-flat-disabled-selected-container-color: rgb(224, 224, 224);
    --mdc-chip-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-focus-state-layer-opacity: 0.12;
    --mdc-chip-selected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-focus-state-layer-opacity: 0.12;
    --mdc-chip-label-text-color: rgb(33, 33, 33);
    --mdc-chip-selected-label-text-color: rgb(33, 33, 33);
    --mdc-chip-with-icon-icon-color: rgb(33, 33, 33);
    --mdc-chip-with-icon-disabled-icon-color: rgb(33, 33, 33);
    --mdc-chip-with-icon-selected-icon-color: rgb(33, 33, 33);
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: rgb(33, 33, 33);
    --mdc-chip-with-trailing-icon-trailing-icon-color: rgb(33, 33, 33);
    --mat-chip-selected-disabled-trailing-icon-color: rgb(33, 33, 33);
    --mat-chip-selected-trailing-icon-color: rgb(33, 33, 33);
  }
  .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
  .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
    --mdc-chip-disabled-label-text-color: rgb(0, 0, 0);
    --mdc-chip-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-label-text-color: rgb(0, 0, 0);
    --mdc-chip-selected-label-text-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-disabled-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-selected-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-trailing-icon-trailing-icon-color: rgb(0, 0, 0);
    --mat-chip-selected-disabled-trailing-icon-color: rgb(0, 0, 0);
    --mat-chip-selected-trailing-icon-color: rgb(0, 0, 0);
  }
  .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-accent,
  .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-accent {
    --mdc-chip-disabled-label-text-color: rgb(0, 0, 0);
    --mdc-chip-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-label-text-color: rgb(0, 0, 0);
    --mdc-chip-selected-label-text-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-disabled-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-selected-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-trailing-icon-trailing-icon-color: rgb(0, 0, 0);
    --mat-chip-selected-disabled-trailing-icon-color: rgb(0, 0, 0);
    --mat-chip-selected-trailing-icon-color: rgb(0, 0, 0);
  }
  .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-warn,
  .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-warn {
    --mdc-chip-disabled-label-text-color: rgb(0, 0, 0);
    --mdc-chip-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-selected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-chip-label-text-color: rgb(0, 0, 0);
    --mdc-chip-selected-label-text-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-disabled-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-icon-selected-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: rgb(0, 0, 0);
    --mdc-chip-with-trailing-icon-trailing-icon-color: rgb(0, 0, 0);
    --mat-chip-selected-disabled-trailing-icon-color: rgb(0, 0, 0);
    --mat-chip-selected-trailing-icon-color: rgb(0, 0, 0);
  }
  .mat-mdc-slide-toggle {
    --mdc-form-field-label-text-color: rgba(255, 255, 255, 0.87);
  }
  .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: rgb(216, 27, 96);
    --mdc-switch-selected-handle-color: rgb(216, 27, 96);
    --mdc-switch-selected-hover-state-layer-color: rgb(216, 27, 96);
    --mdc-switch-selected-pressed-state-layer-color: rgb(216, 27, 96);
    --mdc-switch-selected-focus-handle-color: rgb(136, 14, 79);
    --mdc-switch-selected-hover-handle-color: rgb(136, 14, 79);
    --mdc-switch-selected-pressed-handle-color: rgb(136, 14, 79);
    --mdc-switch-selected-focus-track-color: rgb(240, 98, 146);
    --mdc-switch-selected-hover-track-color: rgb(240, 98, 146);
    --mdc-switch-selected-pressed-track-color: rgb(240, 98, 146);
    --mdc-switch-selected-track-color: rgb(240, 98, 146);
  }
  .mat-mdc-slide-toggle.mat-warn {
    --mdc-switch-selected-focus-state-layer-color: rgb(229, 57, 53);
    --mdc-switch-selected-handle-color: rgb(229, 57, 53);
    --mdc-switch-selected-hover-state-layer-color: rgb(229, 57, 53);
    --mdc-switch-selected-pressed-state-layer-color: rgb(229, 57, 53);
    --mdc-switch-selected-focus-handle-color: rgb(183, 28, 28);
    --mdc-switch-selected-hover-handle-color: rgb(183, 28, 28);
    --mdc-switch-selected-pressed-handle-color: rgb(183, 28, 28);
    --mdc-switch-selected-focus-track-color: rgb(229, 115, 115);
    --mdc-switch-selected-hover-track-color: rgb(229, 115, 115);
    --mdc-switch-selected-pressed-track-color: rgb(229, 115, 115);
    --mdc-switch-selected-track-color: rgb(229, 115, 115);
  }
  .mat-mdc-radio-button {
    --mdc-form-field-label-text-color: rgba(255, 255, 255, 0.87);
  }
  .mat-mdc-radio-button.mat-primary {
    --mdc-radio-disabled-selected-icon-color: rgb(255, 255, 255);
    --mdc-radio-disabled-unselected-icon-color: rgb(255, 255, 255);
    --mdc-radio-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mat-radio-ripple-color: rgb(255, 255, 255);
    --mat-radio-disabled-label-color: rgba(255, 255, 255, 0.38);
  }
  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: rgb(255, 255, 255);
    --mdc-radio-disabled-unselected-icon-color: rgb(255, 255, 255);
    --mdc-radio-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mat-radio-ripple-color: rgb(255, 255, 255);
    --mat-radio-disabled-label-color: rgba(255, 255, 255, 0.38);
  }
  .mat-mdc-radio-button.mat-warn {
    --mdc-radio-disabled-selected-icon-color: rgb(255, 255, 255);
    --mdc-radio-disabled-unselected-icon-color: rgb(255, 255, 255);
    --mdc-radio-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mat-radio-ripple-color: rgb(255, 255, 255);
    --mat-radio-disabled-label-color: rgba(255, 255, 255, 0.38);
  }
  .mdc-list-item__start,
  .mdc-list-item__end {
    --mdc-radio-disabled-selected-icon-color: rgb(255, 255, 255);
    --mdc-radio-disabled-unselected-icon-color: rgb(255, 255, 255);
    --mdc-radio-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
  }
  .mat-accent .mdc-list-item__start,
  .mat-accent .mdc-list-item__end {
    --mdc-radio-disabled-selected-icon-color: rgb(255, 255, 255);
    --mdc-radio-disabled-unselected-icon-color: rgb(255, 255, 255);
    --mdc-radio-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
  }
  .mat-warn .mdc-list-item__start,
  .mat-warn .mdc-list-item__end {
    --mdc-radio-disabled-selected-icon-color: rgb(255, 255, 255);
    --mdc-radio-disabled-unselected-icon-color: rgb(255, 255, 255);
    --mdc-radio-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
  }
  .mat-mdc-list-option {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-selected-checkmark-color: rgb(0, 0, 0);
    --mdc-checkbox-unselected-focus-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgb(255, 255, 255);
  }
  .mat-mdc-list-option.mat-accent {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-selected-checkmark-color: rgb(0, 0, 0);
    --mdc-checkbox-unselected-focus-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgb(255, 255, 255);
  }
  .mat-mdc-list-option.mat-warn {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-selected-checkmark-color: rgb(0, 0, 0);
    --mdc-checkbox-unselected-focus-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgb(255, 255, 255);
  }
  .mat-mdc-tab-group,
  .mat-mdc-tab-nav-bar {
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.38);
    --mat-tab-header-pagination-icon-color: rgb(255, 255, 255);
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
  }
  .mat-mdc-tab-group.mat-accent,
  .mat-mdc-tab-nav-bar.mat-accent {
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.38);
    --mat-tab-header-pagination-icon-color: rgb(255, 255, 255);
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
  }
  .mat-mdc-tab-group.mat-warn,
  .mat-mdc-tab-nav-bar.mat-warn {
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.38);
    --mat-tab-header-pagination-icon-color: rgb(255, 255, 255);
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
  }
  .mat-mdc-tab-group.mat-background-primary,
  .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-tab-header-with-background-foreground-color: rgb(0, 0, 0);
  }
  .mat-mdc-tab-group.mat-background-accent,
  .mat-mdc-tab-nav-bar.mat-background-accent {
    --mat-tab-header-with-background-foreground-color: rgb(0, 0, 0);
  }
  .mat-mdc-tab-group.mat-background-warn,
  .mat-mdc-tab-nav-bar.mat-background-warn {
    --mat-tab-header-with-background-foreground-color: rgb(0, 0, 0);
  }
  .mat-mdc-checkbox {
    --mdc-form-field-label-text-color: rgba(255, 255, 255, 0.87);
  }
  .mat-mdc-checkbox.mat-primary {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-selected-checkmark-color: rgb(0, 0, 0);
    --mdc-checkbox-unselected-focus-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgb(255, 255, 255);
  }
  .mat-mdc-checkbox.mat-warn {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-selected-checkmark-color: rgb(0, 0, 0);
    --mdc-checkbox-unselected-focus-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-hover-icon-color: rgb(33, 33, 33);
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-hover-state-layer-color: rgb(255, 255, 255);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgb(255, 255, 255);
  }
  .mat-mdc-button.mat-warn {
    --mat-text-button-ripple-color: rgba(255, 255, 255, 255.1);
  }
  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-label-text-color: rgb(0, 0, 0);
    --mat-filled-button-state-layer-color: rgb(0, 0, 0);
    --mat-filled-button-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-unelevated-button.mat-accent {
    --mdc-filled-button-label-text-color: rgb(0, 0, 0);
    --mat-filled-button-state-layer-color: rgb(0, 0, 0);
    --mat-filled-button-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-unelevated-button.mat-warn {
    --mdc-filled-button-label-text-color: rgb(0, 0, 0);
    --mat-filled-button-state-layer-color: rgb(0, 0, 0);
    --mat-filled-button-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-label-text-color: rgb(0, 0, 0);
    --mat-protected-button-state-layer-color: rgb(0, 0, 0);
    --mat-protected-button-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-label-text-color: rgb(0, 0, 0);
    --mat-protected-button-state-layer-color: rgb(0, 0, 0);
    --mat-protected-button-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-label-text-color: rgb(0, 0, 0);
    --mat-protected-button-state-layer-color: rgb(0, 0, 0);
    --mat-protected-button-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-outlined-button.mat-primary {
    --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.12);
  }
  .mat-mdc-outlined-button.mat-accent {
    --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.12);
  }
  .mat-mdc-outlined-button.mat-warn {
    --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.12);
    --mat-outlined-button-ripple-color: rgba(255, 255, 255, 255.1);
  }
  .mat-mdc-icon-button.mat-warn {
    --mat-icon-button-ripple-color: rgba(255, 255, 255, 255.1);
  }
  .mat-mdc-fab.mat-primary {
    --mat-fab-foreground-color: rgb(0, 0, 0);
    --mat-fab-state-layer-color: rgb(0, 0, 0);
    --mat-fab-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-fab.mat-accent {
    --mat-fab-foreground-color: rgb(0, 0, 0);
    --mat-fab-state-layer-color: rgb(0, 0, 0);
    --mat-fab-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-fab.mat-warn {
    --mat-fab-foreground-color: rgb(0, 0, 0);
    --mat-fab-state-layer-color: rgb(0, 0, 0);
    --mat-fab-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-mini-fab.mat-primary {
    --mat-fab-small-foreground-color: rgb(0, 0, 0);
    --mat-fab-small-state-layer-color: rgb(0, 0, 0);
    --mat-fab-small-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-mini-fab.mat-accent {
    --mat-fab-small-foreground-color: rgb(0, 0, 0);
    --mat-fab-small-state-layer-color: rgb(0, 0, 0);
    --mat-fab-small-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-mdc-mini-fab.mat-warn {
    --mat-fab-small-foreground-color: rgb(0, 0, 0);
    --mat-fab-small-state-layer-color: rgb(0, 0, 0);
    --mat-fab-small-ripple-color: rgba(0, 0, 0, 0.1);
  }
  .mat-badge-accent {
    --mat-badge-text-color: rgb(0, 0, 0);
  }
  .mat-badge-warn {
    --mat-badge-text-color: rgb(0, 0, 0);
  }
  .mat-datepicker-content.mat-accent {
    --mat-datepicker-calendar-date-selected-state-text-color: rgb(0, 0, 0);
    --mat-datepicker-calendar-date-selected-disabled-state-background-color: rgba(
      24,
      182,
      116,
      0.4
    );
    --mat-datepicker-calendar-date-today-selected-state-outline-color: rgb(0, 0, 0);
    --mat-datepicker-calendar-date-in-comparison-range-state-background-color: rgba(
      249,
      171,
      0,
      0.2
    );
    --mat-datepicker-calendar-date-in-overlap-range-state-background-color: rgb(168, 218, 181);
    --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color: rgb(
      70,
      163,
      94
    );
  }

  .mat-datepicker-content.mat-warn {
    --mat-datepicker-calendar-date-selected-state-text-color: rgb(0, 0, 0);
    --mat-datepicker-calendar-date-selected-disabled-state-background-color: rgba(
      255,
      255,
      255,
      255.4
    );
    --mat-datepicker-calendar-date-today-selected-state-outline-color: rgb(0, 0, 0);
    --mat-datepicker-calendar-date-focus-state-background-color: rgba(255, 255, 255, 255.3);
    --mat-datepicker-calendar-date-hover-state-background-color: rgba(255, 255, 255, 255.3);
    --mat-datepicker-calendar-date-in-range-state-background-color: rgba(255, 255, 255, 255.2);
    --mat-datepicker-calendar-date-in-comparison-range-state-background-color: rgba(
      249,
      171,
      0,
      0.2
    );
    --mat-datepicker-calendar-date-in-overlap-range-state-background-color: rgb(168, 218, 181);
    --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color: rgb(
      70,
      163,
      94
    );
  }
  .mat-step-header.mat-accent {
    --mat-stepper-header-icon-foreground-color: rgb(0, 0, 0);
    --mat-stepper-header-selected-state-icon-foreground-color: rgb(0, 0, 0);
    --mat-stepper-header-done-state-icon-foreground-color: rgb(0, 0, 0);
    --mat-stepper-header-edit-state-icon-foreground-color: rgb(0, 0, 0);
  }
  .mat-step-header.mat-warn {
    --mat-stepper-header-icon-foreground-color: rgb(0, 0, 0);
    --mat-stepper-header-selected-state-icon-foreground-color: rgb(0, 0, 0);
    --mat-stepper-header-done-state-icon-foreground-color: rgb(0, 0, 0);
    --mat-stepper-header-edit-state-icon-foreground-color: rgb(0, 0, 0);
  }
  .mat-toolbar.mat-primary {
    --mat-toolbar-container-text-color: rgb(0, 0, 0);
  }
  .mat-toolbar.mat-accent {
    --mat-toolbar-container-text-color: rgb(0, 0, 0);
  }
  .mat-toolbar.mat-warn {
    --mat-toolbar-container-text-color: rgb(0, 0, 0);
  }
  /************************************************************************************************/
  /************************************************************************************************/
  /************************************************************************************************/
  .mat-mdc-autocomplete-panel {
    border: 1px solid rgba(255, 255, 255, 0.12);
  }
}
