<!-- SIDEBAR -->
<ion-menu contentId="main-content" #sidebar>
  <ion-header>
    <ion-toolbar class="adly__sidebar__toolbar">
      <ion-title class="adly__sidebar__title">
        <img src="favicon.ico" />
        <div>
          <span style="font-size: 15px">{{ appTitle }}</span>
          <br />
          <span style="font-size: 12px">{{ sidebarSubtitle }}</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      @for (item of navigation; track $index) {
        <div>
          <!-- Links -->
          @if (item.type === 'link') {
            <a
              routerLink="{{ item.url }}"
              class="bolder adly__sidebar__link"
              [class.gcm__admin-layout__not-exist]="
                ([authorities, item.disableOnContexts!]
                  | validateAccess: [context, item.authorities!]) ||
                item.forceDisabledContent ||
                !item.showForMobile
              "
              (click)="sidebar.close(); tabName = item.name"
            >
              <ion-item>
                <ion-label>
                  <b>
                    {{ item.name }}
                  </b>
                </ion-label>
              </ion-item>
            </a>
          }
          <!-- dropdowns -->
          @if (item.type === 'dropdown') {
            <ion-accordion
              value="sidenav-accordion-{{ $index }}"
              [class.gcm__admin-layout__not-exist]="
                ([authorities, item.disableOnContexts!]
                  | validateAccess: [context, item.authorities!]) ||
                item.forceDisabledContent ||
                !item.showForMobile
              "
              class="adly__sidebar__accordion"
            >
              <ion-item slot="header">
                <ion-label>
                  <b>{{ item.name }}</b>
                </ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                @for (link of item.dropdownLinks; track $index) {
                  <a
                    class="adly__sidebar__link"
                    [routerLink]="link.urlIsNotAutoCompleted ? link.url : item.url + '/' + link.url"
                    [class.gcm__admin-layout__not-exist]="
                      ([authorities, link.disableOnContexts!]
                        | validateAccess: [context, link.authorities!]) ||
                      link.forceDisabledContent ||
                      !link.showForMobile
                    "
                    (click)="sidebar.close(); tabName = link.name"
                  >
                    <div class="adly__sidebar__accordion-item-name">
                      {{ link.name }}
                    </div>
                  </a>
                }
              </div>
            </ion-accordion>
          }
          <!-- collection -->
          @if (item.type === 'collection') {
            <section
              [class.gcm__admin-layout__not-exist]="
                ([authorities, item.disableOnContexts!]
                  | validateAccess: [context, item.authorities!]) ||
                item.forceDisabledContent ||
                !item.showForMobile
              "
            >
              @if (item.type === 'collection') {
                <ion-accordion
                  [disabled]="true"
                  value="sidenav-accordion-{{ $index }}-9999"
                  class="adly__sidebar__custom-disabled-accordion"
                >
                  <ion-item slot="header">
                    <ion-label>
                      <b>{{ item.name }}</b>
                    </ion-label>
                  </ion-item>
                </ion-accordion>
              }

              @for (el of item.objects; track el; let i = $index) {
                <div>
                  @if (el.type === 'link') {
                    <a
                      routerLink="{{ el.urlIsNotAutoCompleted ? el.url : item.url + '/' + el.url }}"
                      class="bolder adly__sidebar__link"
                      [class.gcm__admin-layout__not-exist]="
                        ([authorities, el.disableOnContexts!]
                          | validateAccess: [context, el.authorities!]) ||
                        el.forceDisabledContent ||
                        !el.showForMobile
                      "
                      (click)="sidebar.close(); tabName = el.name"
                    >
                      <ion-item>
                        <ion-label>
                          <b>
                            {{ el.name }}
                          </b>
                        </ion-label>
                      </ion-item>
                    </a>
                  }

                  @if (el.type === 'dropdown') {
                    <ion-accordion
                      value="sidenav-accordion-{{ i }}-{{ $index }}"
                      [class.gcm__admin-layout__not-exist]="
                        ([authorities, el.disableOnContexts!]
                          | validateAccess: [context, el.authorities!]) ||
                        el.forceDisabledContent ||
                        !el.showForMobile
                      "
                      class="adly__sidebar__accordion"
                    >
                      <ion-item slot="header">
                        <ion-label>
                          <b>{{ el.name }}</b>
                        </ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        @for (link of el.dropdownLinks; track $index) {
                          <a
                            class="adly__sidebar__link"
                            routerLink="{{
                              link.urlIsNotAutoCompleted
                                ? link.url
                                : item.url + '/' + el.url + '/' + link.url
                            }}"
                            [class.gcm__admin-layout__not-exist]="
                              ([authorities, link.disableOnContexts!]
                                | validateAccess: [context, link.authorities!]) ||
                              link.forceDisabledContent ||
                              !link.showForMobile
                            "
                            (click)="sidebar.close(); tabName = link.name"
                          >
                            <div class="adly__sidebar__accordion-item-name">
                              {{ link.name }}
                            </div>
                          </a>
                        }
                      </div>
                    </ion-accordion>
                  }
                </div>
              }
            </section>
          }
        </div>
      }
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<!-- CONTENT -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="adly__main__toolbar">
      <ion-buttons slot="start">
        <ion-menu-button class="adly__main__toolbar__icons"></ion-menu-button>
      </ion-buttons>
      <div class="adly__main__header__title">
        {{ tabName }}
      </div>
      <ion-button slot="end" fill="clear" (click)="clickOnChangeVersion.emit('web')">
        <ion-icon class="adly__main__toolbar__icons" name="desktop-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="clickOnLogout.emit()">
        <ion-icon class="adly__main__toolbar__icons" name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button
        slot="end"
        fill="clear"
        (click)="toggleMode.emit()"
        class="disable-dark-theme-button"
      >
        <ion-icon class="adly__main__toolbar__icons" name="moon-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet />
  </ion-content>
</div>
