@import 'body/style-font';
@import 'title/style-font';

body {
  font-family: 'bodycommerce' !important;
}

.default-title-font {
  font-family: 'titlecommerce' !important;
}

.default-body-font {
  font-family: 'bodycommerce' !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}
