<div class="container">
  <div class="row">
    <div class="col-t-4">
      <tak-pretty-box [encapsulated]="false" [headerHeightPx]="50" [footerHeightPx]="50" #pb1>
        <div tak-pretty-box-header>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe debitis unde sint
        </div>
        <div tak-pretty-box-content>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident!
        </div>
        <div tak-pretty-box-footer>Lorem ipsum dolor sit amet, consectet</div>
      </tak-pretty-box>
    </div>
    <div class="col-t-4">
      <button (click)="pb1.scrollTop()">Scroll top pretty box 1</button>
      <button (click)="pb2.scrollTop()">Scroll top pretty box 2</button>
    </div>
    <div class="col-t-4">
      <tak-pretty-box [encapsulated]="false" [headerHeightPx]="50" [footerHeightPx]="50" #pb2>
        <div tak-pretty-box-header>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe debitis unde sint
          quibusdam, est,
        </div>
        <div tak-pretty-box-content>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident! Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor
          placeat praesentium, excepturi dolore nobis saepe nulla fuga reprehenderit provident!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam ut magnam optio
          cum ex sit id ad nihil. Dolor placeat praesentium, excepturi dolore nobis saepe nulla fuga
          reprehenderit provident! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt quam ut magnam optio cum ex sit id ad nihil. Dolor placeat praesentium, excepturi
          dolore nobis saepe nulla fuga reprehenderit provident!
        </div>
        <div tak-pretty-box-footer>Lorem ipsum dolor sit amet, consectet</div>
      </tak-pretty-box>
    </div>
  </div>
</div>
