.mat-select-panel .mat-option {
  font-size: 14px;
  line-height: 17px;
  min-height: 36px;
}
.mat-option {
  .mat-pseudo-checkbox-minimal {
    display: none !important;
  }
  .mat-list-item__primary-text {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
