@media only screen and (min-width: calc($MOBILE_RESOLUTION)) {
  .tak-admin-layout > .tak-container,
  .tak-sidebar__container,
  .tak-box-form__scroll,
  .tak-table__content,
  .tak-pretty-box--scroll,
  .tak-pretty-box--header,
  .tak-pretty-box--footer,
  .mat-mdc-select-panel,
  .mat-mdc-autocomplete-panel,
  .mat-mdc-form-field-textarea-control,
  .mdc-dialog__content {
    &::-webkit-scrollbar {
      background-color: rgba(192, 192, 192, 0.072);
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(192, 192, 192, 0.562);
      border-radius: 10px;
    }
  }
}
