.tak-snackbar-notification {
  background-color: var(--tak-snackbar-notification-background-color) !important;
}
.tak-snackbar-danger {
  .mat-button:not(:disabled) {
    color: var(--tak-snackbar-danger-action-color) !important;
  }
  color: var(--tak-snackbar-danger-color) !important;
  background-color: var(--tak-snackbar-danger-background-color) !important;
}
.tak-snackbar-success {
  .mat-button:not(:disabled) {
    color: var(--tak-snackbar-success-action-color) !important;
  }
  color: var(--tak-snackbar-success-color) !important;
  background-color: var(--tak-snackbar-success-background-color) !important;
}
