$MOBILE_RESOLUTION: 900px;

:root {
  --tak-header-height: 50px;
  --tak-footer-height: 30px;
  --tak-content-padding: 20px;
  --tak-sidebar-opened-width: 0px;
  --tak-sidebar-closed-width: 240px;
  @media (min-width: $MOBILE_RESOLUTION) {
    --tak-sidebar-opened-width: 50px;
  }
}

html {
  --tak-body-color: rgb(0, 0, 0);
  --tak-body-background-color: rgb(241, 244, 246);
  --tak-admin-layout-header-background-color: rgb(10, 161, 174);
  --tak-admin-layout-footer-background-color: transparent;
  --tak-admin-layout-footer-border-color: rgba(0, 0, 0, 0.12);
  --tak-admin-layout-sidebar-background-color: rgb(255, 255, 255);
  --tak-admin-layout-sidebar-border-color: rgba(0, 0, 0, 0.12);
  --tak-admin-layout-sidebar-top-segment-color: rgb(10, 161, 174);
}

html.dark-theme {
  --tak-body-color: rgb(255, 255, 255);
  --tak-body-background-color: rgb(13, 17, 23);
  --tak-admin-layout-header-background-color: rgb(1, 4, 9);
  --tak-admin-layout-footer-border-color: rgba(255, 255, 255, 0.12);
  --tak-admin-layout-sidebar-background-color: rgb(1, 4, 9);
  --tak-admin-layout-sidebar-border-color: rgba(255, 255, 255, 0.12);
}

html {
  background-color: var(--tak-body-background-color);
  color: var(--tak-body-color);
}

.tak-admin-layout {
  .tak-admin-layout {
    &__sidebar {
      border-right: 1px solid var(--tak-admin-layout-sidebar-border-color);
      background-color: var(--tak-admin-layout-sidebar-background-color);
      width: var(--tak-sidebar-opened-width);
      transition: ease 0.3s;
      overflow: hidden;
      position: fixed;
      height: 100vh;
      z-index: 999;
      & .top-segment {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(var(--tak-header-height) - 1px);
        & > .sg1 {
          & .logo {
            width: 24px;
            margin-left: 3px;
          }
        }
        & > .sg2 {
          & .title,
          .subtitle {
            display: none;
            font-size: 14px;
            font-weight: bolder;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--tak-admin-layout-sidebar-top-segment-color);
          }
          & .subtitle {
            font-size: 10px;
            font-weight: bolder;
          }
        }
        & > .sg3 {
          & .fixed-toggle {
            display: none;
          }
        }
      }
      &.opened {
        width: var(--tak-sidebar-closed-width);
        & .top-segment {
          & > .sg1 {
            & .logo {
              margin-left: 0px;
            }
          }
          & > .sg2 {
            text-align: center;
            line-height: 3px;
            & .title {
              display: block;
            }
            & .subtitle {
              line-height: 10px;
              display: block;
            }
          }
        }
      }
      @media (min-width: $MOBILE_RESOLUTION) {
        & .top-segment {
          & > .sg3 {
            .fixed-toggle {
              display: none;
            }
          }
        }
        &.opened {
          width: var(--tak-sidebar-closed-width);
          & .top-segment {
            & > .sg3 {
              & .fixed-toggle {
                display: block;
              }
            }
          }
        }
      }
    }
    &__container {
      padding-left: var(--tak-sidebar-opened-width);
      transition: ease 0.3s;
      &.fixed {
        padding-left: var(--tak-sidebar-closed-width);
        transition: ease 0.3s;
      }
    }
    &__header {
      height: var(--tak-header-height);
      background-color: var(--tak-admin-layout-header-background-color);
      justify-content: space-between;
      align-items: center;
      position: sticky;
      display: flex;
      top: 0;
      @media (min-width: $MOBILE_RESOLUTION) {
        & .menu-button {
          display: none;
        }
      }
    }
    &__content {
      min-height: calc(
        100vh -
          (
            var(--tak-header-height) + var(--tak-footer-height) + (var(--tak-content-padding) * 2) +
              1px
          )
      );
      background-color: var(--mat-body-background-color);
      padding: var(--tak-content-padding);
    }
    &__footer {
      height: var(--tak-footer-height);
      border-top: 1px solid var(--tak-admin-layout-footer-border-color);
      background-color: var(--tak-admin-layout-footer-background-color);
    }
  }
}
