<div
  class="tak-sidebar"
  (mouseover)="mouseOnSidebar('over')"
  (mouseleave)="mouseOnSidebar('leave')"
  #sidebar
>
  <div class="top-segment">
    <div class="sg1">
      <img class="logo" [src]="config.topSegmentIconUrl" />
    </div>

    <div class="sg2">
      <h1 class="title">{{ config.topSegmentTitle }}</h1>
      <h2 class="subtitle">{{ config.topSegmentSubtitle }}</h2>
    </div>

    <div class="sg3">
      <mat-slide-toggle
        class="fixed-toggle"
        color="primary"
        [checked]="sidebarIsFixed"
        (change)="clickOnSetSidebar()"
      >
      </mat-slide-toggle>

      <button class="fixed-menu-button" mat-icon-button (click)="clickOnSetSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="tak-sidebar__container">
    <div class="tak-sidebar__content">
      <mat-accordion [multi]="config.multiDropdowns || false">
        @for (item of config.navigation; track $index) {
          @if (item.type === 'link') {
            <a [routerLink]="item.url" routerLinkActive="active">
              <div class="link">
                <tak-admin-layout-link [item]="item"></tak-admin-layout-link>
              </div>
            </a>
          }

          @if (item.type === 'dropdown') {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <tak-admin-layout-link
                    class="dropdown-link"
                    [item]="item"
                  ></tak-admin-layout-link>
                </mat-panel-title>
              </mat-expansion-panel-header>
              @for (link of item.dropdownLinks; track $index) {
                <a
                  [routerLink]="link.urlIsNotAutoCompleted ? link.url : item.url + '/' + link.url"
                  routerLinkActive="active"
                >
                  <div class="link">
                    <tak-admin-layout-link [item]="link"></tak-admin-layout-link>
                  </div>
                </a>
              }
            </mat-expansion-panel>
          }

          @if (item.type === 'collection') {
            <div class="link disabled">
              <tak-admin-layout-link [item]="item" [isCollection]="true"></tak-admin-layout-link>
            </div>
            <mat-divider></mat-divider>

            @for (object of item.objects; track $index) {
              @if (object.type === 'link') {
                <a
                  [routerLink]="
                    object.urlIsNotAutoCompleted ? object.url : item.url + '/' + object.url
                  "
                  routerLinkActive="active"
                >
                  <div class="link">
                    <tak-admin-layout-link [item]="object"></tak-admin-layout-link>
                  </div>
                </a>
              }

              @if (object.type === 'dropdown') {
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <tak-admin-layout-link
                        class="dropdown-link"
                        [item]="object"
                      ></tak-admin-layout-link>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  @for (link of object.dropdownLinks; track $index) {
                    <a
                      [routerLink]="
                        link.urlIsNotAutoCompleted
                          ? link.url
                          : item.url + '/' + object.url + '/' + link.url
                      "
                      routerLinkActive="active"
                    >
                      <div class="link">
                        <tak-admin-layout-link [item]="link"></tak-admin-layout-link>
                      </div>
                    </a>
                  }
                </mat-expansion-panel>
              }
            }
          }
        }
      </mat-accordion>
      <br />
    </div>
  </div>
</div>

<header class="tak-header">
  <div>
    <button class="menu-button" mat-icon-button (click)="clickOnSetSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <ng-content select="[tak-custom-header]"></ng-content>
</header>

<div class="tak-container" #container>
  <div class="tak-content">
    @if (isModuleLoading) {
      <div class="tak-view-loader" style="position: fixed">
        <div class="tak-loader-spinner">
          <div class="tak-double-bounce1"></div>
          <div class="tak-double-bounce2"></div>
        </div>
      </div>
    }
    <ng-content></ng-content>
  </div>
  @if (config.hasFooter) {
    <footer class="tak-footer">
      <ng-content select="[tak-custom-footer]"></ng-content>
    </footer>
  }
</div>
