@if (hasTopCloseButton) {
  <div tak-dialog-title>
    <div class="tak-modal__top-container">
      @if (data.title !== '') {
        <h1 class="tak-modal__title">{{ data.title }}</h1>
      }
      @if (hasTopCloseButton) {
        <div>
          <button tak-icon-button (click)="onClose()"><tak-icon>close</tak-icon></button>
        </div>
      }
    </div>
  </div>
}
<div tak-dialog-content>
  <tak-divider></tak-divider>
  <p class="tak-modal__content">{{ data.content }}</p>
  <tak-divider></tak-divider>
</div>
<tak-dialog-actions align="end">
  @if (!isAlert) {
    <button tak-button color="accent" class="tak-bolder" (click)="onConfirm()">
      {{ confirmButton }}
    </button>
  }
  @if (!isAlert) {
    <button tak-button color="warn" class="tak-bolder" (click)="onClose()" cdkFocusInitial>
      {{ deniedButton }}
    </button>
  }
  @if (isAlert) {
    <button
      tak-button
      color="accent"
      (click)="onClose()"
      style="float: right"
      class="tak-bolder"
      cdkFocusInitial
    >
      {{ okButton }}
    </button>
  }
</tak-dialog-actions>
