html.dark-theme {
  --tak-table-selectable-hover-color: rgba(255, 255, 255, 0.12);
  --tak-table-header-background-color: rgb(13, 17, 23);
  --tak-table-container-box-shadow: none;
  --tak-table-container-border-color: rgba(255, 255, 255, 0.12);
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell {
    background-color: rgb(13, 17, 23);
  }
  --tak-paginator-container-background-color: rgb(13, 17, 23);
  --tak-pretty-box-border-color: rgba(255, 255, 255, 0.12);
}
