html {
  --tak-snackbar-success-color: #000;
  --tak-snackbar-success-action-color: rgb(255, 0, 0);
  --tak-snackbar-success-background-color: rgb(24, 182, 116);
  --tak-snackbar-danger-color: #fff;
  --tak-snackbar-danger-action-color: rgb(24, 182, 116);
  --tak-snackbar-danger-background-color: rgb(255, 0, 0);
  --tak-form-field-error-color: rgb(255, 0, 0);
  --tak-form-field-hint-color: gray;
  --tak-box-form-title-color: rgb(10, 161, 174);
  --tak-box-form-subtitle-color: rgb(120, 203, 211);
}
