<div class="tak__layout__container {{ isSidebarCompact ? 'compact' : 'full' }}">
  <div class="tak__container">
    <div class="tak__header-container">
      <tak-header
        (toggleSidebar)="toggleSidebar.emit()"
        (logout)="logout.emit()"
        (backToMenu)="backToMenu.emit()"
        [mdWidth]="mdWidth"
        [isActionButton]="isDinamicSidebar"
      >
        <ng-content tak-custom-header select="[tak-custom-header]"></ng-content>
      </tak-header>
    </div>
    <div class="tak__scroll" #scrollLayout>
      <div class="tak__content">
        <!-- View Loader (El preloading lo hace innecesario) -->
        <!-- @if (isModuleLoading) {
          <div class="tak-view-loader" style="position: fixed">
            <div class="tak-spinner">
              <div class="tak-double-bounce1"></div>
              <div class="tak-double-bounce2"></div>
            </div>
          </div>
        } -->
        <div class="tak__outlet">
          <div>
            <ng-content />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
