@use 'sass:map';
@use '../core/theming/theming';
@use '../core/style/private';
@use '../core/style/form-common';
@use '../core/typography/typography';
@use '../core/typography/typography-utils';

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  .tak-select-value {
    color: theming.get-color-from-palette($foreground, text);
  }

  .tak-select-placeholder {
    color: form-common.private-control-placeholder-color($config);
  }

  .tak-select-disabled .tak-select-value {
    color: theming.get-color-from-palette($foreground, disabled-text);
  }

  .tak-select-arrow {
    color: theming.get-color-from-palette($foreground, secondary-text);
  }

  .tak-select-panel {
    background: theming.get-color-from-palette($background, card);
    @include private.private-theme-overridable-elevation(4, $config);

    .tak-option.tak-selected:not(.tak-option-multiple) {
      background: theming.get-color-from-palette($background, hover, 0.12);
    }
  }

  .tak-form-field {
    &.tak-focused {
      &.tak-primary .tak-select-arrow {
        color: theming.get-color-from-palette($primary, text);
      }

      &.tak-accent .tak-select-arrow {
        color: theming.get-color-from-palette($accent, text);
      }

      &.tak-warn .tak-select-arrow {
        color: theming.get-color-from-palette($warn, text);
      }
    }

    .tak-select.tak-select-invalid .tak-select-arrow {
      color: theming.get-color-from-palette($warn, text);
    }

    .tak-select.tak-select-disabled .tak-select-arrow {
      color: theming.get-color-from-palette($foreground, disabled-text);
    }
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2014-config(
    theming.get-typography-config($config-or-theme)
  );
  // The unit-less line-height from the font config.
  $line-height: typography-utils.line-height($config, input);

  .tak-select {
    font-family: typography-utils.font-family($config);
  }

  .tak-select-trigger {
    height: typography-utils.private-coerce-unitless-to-em($line-height);
  }
}

@mixin _density($config-or-theme) {
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'tak-select') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
