@if (resourcesLoaded) {
  <tak-layout
    appTitle="Takkion"
    appSidebarTitle="Ejdao Dev S.A"
    appSidebarSubtitle="Example context"
    [navigation]="navigation"
    [authorities]="permissions"
    [context]="context"
    [isDinamicSidebar]="true"
    [sidebarDebounceTime]="200"
    [accordionInCollections]="accordionInCollections"
    [disableHiddenCollections]="disableHiddenCollections"
    [hasFooter]="false"
    [mdWidth]="900"
  >
    <section tak-custom-header><app-header></app-header></section>
    <section tak-custom-footer><app-footer></app-footer></section>
    <router-outlet></router-outlet>
  </tak-layout>
}
