@if (type === 'select') {
  <div class="tak-form-container">
    <tak-form-field [appearance]="appearance" [color]="color">
      <tak-label><ng-content></ng-content></tak-label>
      <tak-select [formControl]="control" (focusout)="onFocusOut()">
        @for (item of suggestions; track item) {
          <tak-option [value]="item" (onSelectionChange)="emit($event)">
            {{ item[option] }}
          </tak-option>
        }
      </tak-select>
    </tak-form-field>
    @if (isInvalid || (isSubmitted && control.invalid)) {
      <tak-error [control]="control"></tak-error>
    }
  </div>
} @else {
  <div [takTooltip]="tooltip">
    @if (type === 'menu') {
      <span>
        <button tak-icon-button type="button" [takMenuTriggerFor]="menu" [disabled]="isDisabled">
          <tak-icon>{{ icon }}</tak-icon>
        </button>
        <tak-menu #menu="takMenu">
          @for (item of suggestions; track item) {
            <a tak-menu-item (click)="justEmit(item)">
              {{ item[option] }}
            </a>
          }
        </tak-menu>
      </span>
    }
  </div>
}
