@use 'sass:map';
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/typography/typography-utils';

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $header-border: 1px solid theming.get-color-from-palette($foreground, divider);

  .tak-tab-nav-bar,
  .tak-tab-header {
    border-bottom: $header-border;
  }

  .tak-tab-group-inverted-header {
    .tak-tab-nav-bar,
    .tak-tab-header {
      border-top: $header-border;
      border-bottom: none;
    }
  }

  .tak-tab-label,
  .tak-tab-link {
    color: theming.get-color-from-palette($foreground, text);

    &.tak-tab-disabled {
      color: theming.get-color-from-palette($foreground, disabled-text);
    }
  }

  .tak-tab-header-pagination-chevron {
    border-color: theming.get-color-from-palette($foreground, text);
  }

  .tak-tab-header-pagination-disabled .tak-tab-header-pagination-chevron {
    border-color: theming.get-color-from-palette($foreground, disabled-text);
  }

  // Remove header border when there is a background color
  .tak-tab-group[class*='tak-background-'] > .tak-tab-header,
  .tak-tab-nav-bar[class*='tak-background-'] {
    border-bottom: none;
    border-top: none;
  }

  .tak-tab-group,
  .tak-tab-nav-bar {
    $theme-colors: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    );

    @each $name, $color in $theme-colors {
      // Set the foreground color of the tabs
      &.tak-#{$name} {
        @include _label-focus-color($color);
        @include _ink-bar-color($color);

        // Override ink bar when background color is the same
        &.tak-background-#{$name} {
          > .tak-tab-header,
          > .tak-tab-link-container {
            @include _ink-bar-color($color, default-contrast);
          }
        }
      }
    }

    @each $name, $color in $theme-colors {
      // Set background color of the tabs and override focus color
      &.tak-background-#{$name} {
        @include _label-focus-color($color);
        @include _tabs-background($color);
      }
    }
  }
}

@mixin _ink-bar-color($color, $hue: default) {
  .tak-ink-bar {
    background-color: theming.get-color-from-palette($color, $hue);
  }
}

@mixin _label-focus-color($tab-focus-color) {
  .tak-tab-label,
  .tak-tab-link {
    &.cdk-keyboard-focused,
    &.cdk-program-focused {
      &:not(.tak-tab-disabled) {
        background-color: theming.get-color-from-palette($tab-focus-color, lighter, 0.3);
      }
    }
  }
}

@mixin _tabs-background($background-color) {
  // Note that these selectors target direct descendants so
  // that the styles don't apply to any nested tab groups.

  // Set background color for the tab group
  > .tak-tab-header,
  > .tak-tab-link-container,
  > .tak-tab-header-pagination {
    background-color: theming.get-color-from-palette($background-color);
  }

  // Set labels to contrast against background
  > .tak-tab-header .tak-tab-label,
  > .tak-tab-link-container .tak-tab-link {
    color: theming.get-color-from-palette($background-color, default-contrast);

    &.tak-tab-disabled {
      color: theming.get-color-from-palette($background-color, default-contrast, 0.4);
    }
  }

  // Set pagination chevrons to contrast background
  > .tak-tab-header .tak-tab-header-pagination-chevron,
  > .tak-tab-header-pagination .tak-tab-header-pagination-chevron,
  > .tak-tab-link-container .tak-focus-indicator::before,
  > .tak-tab-header .tak-focus-indicator::before {
    border-color: theming.get-color-from-palette($background-color, default-contrast);
  }

  > .tak-tab-header .tak-tab-header-pagination-disabled .tak-tab-header-pagination-chevron,
  > .tak-tab-header-pagination-disabled .tak-tab-header-pagination-chevron {
    // Set the color opacity via `opacity`, rather than `rgba`, because it may be a CSS variable.
    border-color: theming.get-color-from-palette($background-color, default-contrast, 1);
    opacity: 0.4;
  }

  // Set ripples color to be the contrast color of the new background. Otherwise the ripple
  // color will be based on the app background color.
  > .tak-tab-header .tak-ripple-element,
  > .tak-tab-link-container .tak-ripple-element,
  > .tak-tab-header-pagination .tak-ripple-element {
    // Set the color opacity via `opacity`, rather than `rgba`, because it may be a CSS variable.
    background-color: theming.get-color-from-palette($background-color, default-contrast, 1);
    opacity: 0.12;
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2014-config(
    theming.get-typography-config($config-or-theme)
  );
  .tak-tab-group {
    font-family: typography-utils.font-family($config);
  }

  .tak-tab-label,
  .tak-tab-link {
    font: {
      family: typography-utils.font-family($config, button);
      size: typography-utils.font-size($config, button);
      weight: typography-utils.font-weight($config, button);
    }
  }
}

@mixin _density($config-or-theme) {
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'tak-tabs') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
