<div class="app-badge__container">
  <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

  <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

  <div class="demo-section">
    Button with a badge on the left
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="accent"
    >
      Action
    </button>
  </div>

  <div class="demo-section">
    Button toggles badge visibility
    <button
      mat-raised-button
      matBadge="7"
      [matBadgeHidden]="hidden"
      (click)="toggleBadgeVisibility()"
    >
      Hide
    </button>
  </div>

  <div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>
</div>

<br />
<mat-divider></mat-divider>

<p>You have received a file called "cat-picture.jpeg".</p>
<button mat-raised-button (click)="openBottomSheet()">Open file</button>

<br />
<br />
<mat-divider></mat-divider>
<br />

<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<br />

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{ node.name }}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    {{ node.name }}
  </mat-tree-node>
</mat-tree>
