/* You can add global styles to this file, and also import other style files */
@import 'assets/main';

@import 'libraries/admin-layout/assets/styles';

html {
  --tak-footer-height: 0px;
  --tak-header-height: 0px;
  --tak-sidebar-background-color: white;
  --tak-body-background-color: white;
}
.tak__sidenav__user-profile--container,
.tak__sidenav__container,
.tak-sidebar-footer,
.tak__outlet,
body {
  background-color: var(--tak-body-background-color);
}

@import 'libraries/components/assets/material/themes/default';
@import 'libraries/components/assets/material/themes/dark';
@import 'libraries/components/assets/material/themes/main';
@import 'libraries/components/assets/material/icons/local';

@import 'libraries/components/assets/variables';
@import 'libraries/components/assets/main';
@import 'libraries/components/assets/themes/main';
@import 'libraries/components/assets/fonts/fonts';

body {
  font-family:
    Roboto,
    Helvetica Neue,
    sans-serif;
  min-height: 100svh;
  min-width: 100svw;
  -webkit-font-smoothing: antialiased;
  position: fixed;
}

.remove-view-loader-on-preloading {
  display: none;
}
.tak__outlet.remove-padding {
  padding: 0px;
}
