html.dark-theme {
  // Body color & background
  --tak-body-color: rgb(255, 255, 255);
  --tak-body-background-color: rgb(13, 17, 23);
  --tak-loader-overlay-backdrop-background-color: rgba(255, 255, 255, 0.048);
  // Admin layout
  --tak-admin-layout-header-background-color: rgb(1, 4, 9);
  --tak-admin-layout-footer-border-color: rgba(255, 255, 255, 0.12);
  --tak-admin-layout-sidebar-background-color: rgb(1, 4, 9);
  --tak-admin-layout-sidebar-border-color: rgba(255, 255, 255, 0.12);
  --tak-admin-layout-sidebar-link--color: rgb(255, 255, 255);
  --tak-admin-layout-sidebar-link-background-color: rgb(1, 4, 9);
  --tak-admin-layout-sidebar-link-hover-background-color: rgba(255, 255, 255, 0.12);
  // Custom Material
  --mdc-snackbar-supporting-text-color: white;
}
