@use 'sass:map';
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/typography/typography-utils';

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .tak-table {
    background: theming.get-color-from-palette($background, 'card');
  }

  .tak-table thead,
  .tak-table tbody,
  .tak-table tfoot,
  tak-header-row,
  tak-row,
  tak-footer-row,
  [tak-header-row],
  [tak-row],
  [tak-footer-row],
  .tak-table-sticky {
    background: inherit;
  }

  tak-row,
  tak-header-row,
  tak-footer-row,
  th.tak-header-cell,
  td.tak-cell,
  td.tak-footer-cell {
    border-bottom-color: theming.get-color-from-palette($foreground, divider);
  }

  .tak-header-cell {
    color: theming.get-color-from-palette($foreground, secondary-text);
  }

  .tak-cell,
  .tak-footer-cell {
    color: theming.get-color-from-palette($foreground, text);
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2014-config(
    theming.get-typography-config($config-or-theme)
  );
  .tak-table {
    font-family: typography-utils.font-family($config);
  }

  .tak-header-cell {
    font-size: typography-utils.font-size($config, caption);
    font-weight: typography-utils.font-weight($config, body-2);
  }

  .tak-cell,
  .tak-footer-cell {
    font-size: typography-utils.font-size($config, body-1);
  }
}

@mixin _density($config-or-theme) {
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'tak-table') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
